@{
    ViewBag.Title = "Okulda Başarı - Projemiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    h1{font-size:16px}
    h2{font-size:14px}
    p{ margin:1px 5px}
</style>
<div class="icerikkpsul" style="height: auto;">
    <div class="icerik">
        <div id="wrapper">
            <h1>ÖĞRENME VE DOĞRU AKIL YÜRÜTME BECERİLERİNİ GELİŞTİRME PROJESİ</h1>
            <h2>
                MOTİVASYON:</h2>
            <p>
                1.Öğretimde (okullarda, dershanelerde ve özel derslerde) ön görülen öğrenmelerin
                yeterli ölçülerde gerçekleşmemesi.
            </p>
            <p>
                2.Öğrencilere, kendi kendilerine öğrenme becerisi kazandırılamaması.
            </p>
            <p>
                3.Anlama, anlatma, doğru akıl yürütme, çözüm üretme ve benzeri zihinsel becerilerin
                geliştirilmesinin arzu edilen seviyelerde gerçekleşmemesi.*
            </p>
            <h2>
                AMAÇLAR:</h2>
            <p>
                1. Öğrenmeyi engelleyen veya zorlaştıran etkenleri belirlemek ve etkisizleştirmek.</p>
            <p>
                2. Öğrenmeyi öğrenme becerisi kazandırmak.
            </p>
            <p>
                3. Öğrenmeyi kolay ve hızlı gerçekleştirme becerisi kazandırmak.
            </p>
            <p>
                4. Doğru akıl yürütme becerisi kazandırmak.
            </p>
            <p>
                5.Üretken ve yaratıcı düşünme becerilerine işlerlik kazandırmak.
            </p>
            <p>
                6. Okul ve sınav başarılarını yükseltmek.
            </p>
            <h2>
                SÜREÇLER:</h2>
            <p>
                1. Yirmi bir başlık altında toplanıp tanımlanan zihinsel becerilere sıfır hata düzeyinde
                işlerlik kazandırmak. (Bilişsel becerileri geliştirip mükemmelleştirmek.)
            </p>
            <p>
                2. Öğrenmeyi zevk alınan etkinliğe dönüştürmek. ( Her biri en az on farklı zorluk
                derecesinde oluşturulan bilişsel becerileri geliştirme alıştırmalarında birbirini
                izleyenler arasında tolere edilebilecek farklılıkların bulunması bu süreci başarıya
                ulaştırmakta etkili olmaktadır.)
            </p>
            <p>
                3. Öğrenme sırasında bilişsel becerilerin gerekli olanlarını hızlı ve doğru kullanma
                becerisi ve alışkanlığı kazandırmak.
            </p>
            <p>
                4. Bilişsel becerileri geliştiren alıştırmalar yapmayı alışkanlık haline getirip
                rahatlama etkinliğine dönüştürmek.
            </p>
            <h2>
                ARAÇLAR:</h2>
            <h4>
                I. Kağıt üzerinde ve dijital ortamda bilişsel becerileri kazandıracak alıştırmalar.</h4>
            <p>
                a) 3. yaş ve sonrası için
            </p>
            <p>
                b) 4. yaş ve sonrası için
            </p>
            <p>
                c) 5 .ve 7. yaşlar için
            </p>
            <p>
                d) 7. ve 12. yaşlar için
            </p>
            <p>
                e)12 .yaş ve sonrası için
            </p>
            <h4>
                II. Bilişsel becerileri öğrenme süreçlerinde kullanmayı alışkanlığa dönüştürecek
                alıştırmalar.
            </h4>
            <p>
                a) İlköğretim 1. ve 3. sınıflar için
            </p>
            <p>
                b) İlköğretim 4. ve 8.sınıflar için
            </p>
            <p>
                c) Lise 9. - 12. sınıflar için
            </p>
            <h2>
                PROJEDE ULAŞILAN DURUM:</h2>
            <p>
                1. Yukarıda belirtilen yaş gruplarına uygun çok sayıda alıştırma modeli geliştirildi
                ve üretildi.
            </p>
            <p>
                2. Alıştırmalar uygun yaş gruplarına uygulandı. Sonuçlar değerlendirildi. Yeni alıştırma
                modelleri geliştirildi.
            </p>
            <p>
                3. Alıştırmalar mükemmelleştirilip yaygın kullanıma hazır duruma getirildi.
            </p>
            <p>
                4. Az sayıda öğrencinin kendi kendine sınavlara (ÖSS ve SBS’ ye) hazırlanması denendi
                ve olumlu sonuçlar alındı.
            </p>
            <h2>
                UYGULANABİLİRLİK:</h2>
            <p>
                Bilişsel becerileri geliştirme alıştırmaları eğitimin ve öğretimin her kademesine
                kolaylıkla entegre edilebilir. Öğrencilerin kullanımına kolayca sunulabilir.</p>
            <br />
            <br />
            <p>
                Saygılarımla
                <br />
                Sebahattin Dilaver
                <br />
                18.06.2011
            </p>
            <br />
            <br />
            <p style="font-weight: bold;">
                <a href="http://www.pisa.oecd.org/pages/0,2987,en_32252351_32235731_1_1_1_1_1,00.html">
                    *www.pisa.oecd.org </a>
                <br />
                <a href="http://www.meb.gov.tr/duyurular/duyurular/pisa/pisaraporu.htm">*www.meb.gov.tr/pisa
                    raporu </a>
                <br />
                *Güneş,firdevs,Türkçe Öğretimi ve Zihinsel Yapılandırma,Nobel Yayın Dağıtım,İstanbul,2007
            </p>
        </div>
    </div>
</div>
