@{
    ViewBag.Title = "Eserlerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul" style="height:auto;">
    <div class="icerik">
        <div class="navigasyon">
            </div>
        <div class="solicerik">
            <div>
                <h3>
                    KURUMSAL</h3>
                <ul>
                    <li><a href="/Kurumsal/KilometreTaslarimiz">Kilometre Taşlarımız</a></li>
                    <li><a href="/Kurumsal/Eserlerimiz">Eserlerimiz</a></li>
                    <li><a href="/Kurumsal/Hedeflerimiz">Hedeflerimiz</a></li>
                </ul>
            </div>
        </div>
        <div class="sagicerik">
           
            <h2>
                Öğrenme ve Doğru Akıl Yürütme Becerilerini Geliştirme Projesi Arşivi</h2>
            <p>
                Kağıt üzerinde ve bilgisayar ortamında bilişsel becerileri kazandıracak alıştırmalar.
            </p>
            <ul>
                <li>a) 3. yaş ve sonrası için 52 kitap (8 sayfa alıştırma+bilgilendirme ve uygulama
                    kılavuzu) </li>
                <li>b) 4.yaş ve sonrası için 104 kitap (16 sayfa alıştırma+bilgilendirme ve uygulama
                    kılavuzu) </li>
                <li>c) 5. ve 7. yaşlar için 104 kitap (16 sayfa alıştırma+bilgilendirme ve uygulama
                    kılavuzu) </li>
                <li>d) 7. ve 12. yaşlar için 104 kitap (32 sayfa alıştırma+bilgilendirme ve uygulama
                    kılavuzu) </li>
                <li>e) 12. Yaş ve sonrası için 100 kitap (her biri 48 sayfa ) </li>
            </ul>
            <p>
                Sebahattin Dilaver’in Yayınlanmış Kitapları</p>
            <ul>
                <li>1. Okulda Üstün Başarının Sırları (…Öğrenmeyi Coşkuya Dönüştürür…) S.Dilaver, Ankara
                    2011,www.beyinlergelisecek.com </li>
                <li>2. Bilişsel Beceriler (…Beyinler Gelişecek, Öğrenmek kolaylaşacak.) S Dilaver,Ankara,2009,Ankara
                    www. beyinlergelisecek.com </li>
                <li>3. İlköğretim Türkçe Okumaya Başlıyorum (Ders Kitabı), S.Dilâver, Fil Yayınevi,
                    İstanbul, 1995 </li>
                <li>4. İlköğretim Fen Bilgisi 4. Sınıf (Ders Kitabı), S.Dilâver, Bilim ve Kültür Yayınları
                    Ltd. Şti., Ankara, 1995 </li>
                <li>5. İlköğretim Fen Bilgisi 5. Sınıf (Ders Kitabı), S.Dilâver, Bilim ve Kültür Yayınları
                    Ltd. Şti., Ankara, 1995 </li>
                <li>6. İlköğretim Matematik 1. Sınıf (Ders Kitabı), F.Bolayır - S.Dilâver, Bolayır Yayınları,
                    Ankara, 1993 </li>
                <li>7. İlköğretim Matematik 2. Sınıf (Ders Kitabı), F.Bolayır - S.Dilâver, Bolayır Yayınları,
                    Ankara, 1993 </li>
                <li>8. İlköğretim Matematik 3. Sınıf (Ders Kitabı), F.Bolayır - S.Dilâver, Bolayır Yayınları,
                    Ankara, 1993 </li>
                <li>9. İlköğretim Matematik 4. Sınıf (Ders Kitabı), F.Bolayır - S.Dilâver, Bolayır Yayınları,
                    Ankara, 1993 </li>
                <li>10. İlköğretim Matematik 5. Sınıf (Ders Kitabı), F.Bolayır - S.Dilâver, Bolayır
                    Yayınları, Ankara, 1993 </li>
                <li>11. İlköğretim Matematik 1. Sınıf (Yardımcı Ders Kitabı), A. H. Özer - S. Dilâver
                    – H. Yıldırım – R. Kavasoğlu, Öğrenme Yayınları, Ankara, 1987 (Milli Eğitim Gençlik
                    ve Spor Bakanlığı’nın 1985 yılında açtığı matematik ders kitapları yarışmasında
                    yardımcı ders kitabı kabul edilmiştir.) </li>
                <li>12. İlköğretim Matematik 2. Sınıf (Yardımcı Ders Kitabı. Yayımlanmamıştır.), A.
                    H. Özer - S. Dilâver – H. Yıldırım – R. Kavasoğlu (Milli Eğitim Gençlik ve Spor
                    Bakanlığı’nın 1985 yılında açtığı matematik ders kitapları yarışmasında yardımcı
                    ders kitabı kabul edilmiştir.) </li>
                <li>13. İlköğretim Matematik 3. Sınıf (Yardımcı Ders Kitabı. Yayımlanmamıştır.), A.
                    H. Özer - S. Dilâver – H. Yıldırım – R. Kavasoğlu (Milli Eğitim Gençlik ve Spor
                    Bakanlığı’nın 1985 yılında açtığı matematik ders kitapları yarışmasında yardımcı
                    ders kitabı kabul edilmiştir.) </li>
                <li>14. İlkokul Okumaya Başlıyorum Alıştırma Kitabı (Yardımcı Ders Kitabı), S. Dilâver
                    – F. Bolayır – R. Kavasoğlu, Bolayır Yayınları, Ankara, 1992 </li>
                <li>15. Okul ve Okuma Öncesi Kavram Geliştirme, Boyama Kitabı (M.E.B. tavsiyeli, kavram
                    açıklamalı ve uygulama kılavuzu), M. Dilâver – S. Dilâver, Megabil Limited, Ankara,
                    1986 </li>
                <li>16. 5 – 7 Yaş İçin Masal ve Sayı Bilgisi, Obur Tırtıl (M.E.B. tavsiyeli), M. Dilâver
                    – S. Dilâver, Megabil Limited, Ankara, 1986 </li>
                <li>17. İlkokuma Yazma Hazırlık Dönemi 1 (M.E.B. tavsiyeli, kavram açıklamalı ve uygulama
                    kılavuzlu), M. Dilâver – S. Dilâver, Megabil Limited, Ankara, 1986 </li>
                <li>18. İlkokuma Yazma Resimli Alıştırma Kitabı 1 (M.E.B. tavsiyeli), M. Dilâver – S.
                    Dilâver, Megabil Limited, Ankara, 1986 </li>
                <li>19. İlkokul Hayat Bilgisi 1. Sınıf (M.E.B. tavsiyeli), Y. Bolayır – S. Dilâver,
                    Bolayır Yayınları, Ankara, 1992 </li>
                <li>20. İlkokul Hayat Bilgisi 2. Sınıf (M.E.B. tavsiyeli), Y. Bolayır – S. Dilâver,
                    Bolayır Yayınları, Ankara, 1992 </li>
                <li>21. İlkokul Hayat Bilgisi 3. Sınıf (M.E.B. tavsiyeli), Y. Bolayır – S. Dilâver,
                    Bolayır Yayınları, Ankara, 1992 </li>
                <li>22. İlokul 4. ve 5. Sınıflar İçin Dil Bilgisi (M.E.B. tavsiyeli), Y. Bolayır – S.
                    Dilâver, Bolayır Yayınları, Ankara, 1992 </li>
                <li>23. İlksan Ünite Dergisi 1. Sınıf, Sayı 1 - 7 (M.E.B. tavsiyeli), S. Dilâver (Matematik
                    bölümü), İlksan Genel Müdürlüğü, Ankara, 1988 - 1989 </li>
                <li>24. İlksan Ünite Dergisi 2. Sınıf, Sayı 1 - 8 (M.E.B. tavsiyeli), S. Dilâver (Matematik
                    bölümü), İlksan Genel Müdürlüğü, Ankara, 1988 - 1989 </li>
                <li>25. İlksan Ünite Dergisi 3. Sınıf, Sayı 1 - 8 (M.E.B. tavsiyeli), S. Dilâver (Matematik
                    bölümü), İlksan Genel Müdürlüğü, Ankara, 1988 - 1989 </li>
                <li>26. İlksan Ünite Dergisi 4. Sınıf, Sayı 1 - 9 (M.E.B. tavsiyeli), S. Dilâver (Matematik
                    bölümü), İlksan Genel Müdürlüğü, Ankara, 1988 - 1989 </li>
                <li>27. İlksan Ünite Dergisi 5. Sınıf, Sayı 1 - 10 (M.E.B. tavsiyeli), S. Dilâver (Matematik
                    bölümü), İlksan Genel Müdürlüğü, Ankara, 1988 - 1989 </li>
                <li>28. Çalıştım Kazandım, S. Dilâver (Matematik bölümü) – C. Yalçın (Türkçe bölümü),
                    Emel Matbaacılık, Ankara, 1990 </li>
                <li>29. Yüksek Puan Almak İçin ÜSS Yetenek Problemleri, S. Dilâver, Ankara, 1980
                </li>
                <li>30. Çözümlü Genel Yetenek Alfabesi, S. Dilâver, Ankara, 1980</li>
                <li>31. Temel Kimya, S. Dilâver, Ankara, 1976</li>
                <li>32. Sosyal Bilimler Anahtarı, S. Dilâver, Ankara, 1976</li>
                <li>33. Akademik Yetenek Testleri, S. Dilâver, Ankara, 1976</li>
                <li>34. Çözümlü Genel Yetenek ve Zekâ Geliştirme Testleri, S. Dilâver, Ankara, 1974
                    (1. baskı) – 1979 (12. baskı)</li>
                <li>35. Fen’de Yetenek, S. Dilâver, Ankara, 1979</li>
                <li>36. Büyük Fen Anahtarı, S. Dilâver, Ankara, 1972</li>
                <li>37. ÖSS – ÖYS İçin Kimya, S. Dilâver, Kaya Yayınları, İstanbul, 1995</li>
                <li>38. Kimya (Atom ve Yapısı), S. Dilâver, Olgu Dershanesi, Ankara, 1998</li>
                <li>39. Temel Kimya Kavramları ve Muhakeme Geliştirme Testleri, S. Dilâver, Olgu Dershanesi,
                    Ankara, 1998</li>
                <li>40. Kimya (Madde ve Yapısı, Madde ve Hâl Değişimi), S. Dilâver, Olgu Dershanesi,
                    Ankara, 1998</li>
                <li>41. Fen Bilgisi (Maddenin Yapısı, Atom ve Yapısı), S. Dilâver, Olgu Dershanesi,
                    Ankara, 1998</li>
                <li>42. Fen Bilgisi (Mol Kavramı, Periyodik Cetvel, Çekirdek Tepkimeleri), S. Dilâver,
                    Olgu Dershanesi, Ankara, 1998</li>
                <li>43. Kimya (Bileşikler), S. Dilâver, Olgu Dershanesi, Ankara, 1999</li>
                <li>44. Kimya (Mol Kavramı), S. Dilâver, Olgu Dershanesi, Ankara, 1999</li>
                <li>45. Kimya (Gazlar), S. Dilâver, Olgu Dershanesi, Ankara, 1999</li>
            </ul>
            <p>
                Okul ve Okuma Öncesi (4 – 7 Yaş Grubu) İçin Yayımlanmış Kitapları (Kitapların arka
                kapaklarının içindeki ceplerde uygulama kılavuzları vardır)</p>
            <ul>
                <li>46. Okul Öncesi Eğitim Kılavuzu (İlkokula Hazırlık Kılavuzu), (Cep kitabı boyutlarında
                    48 sayfa), S. Dilâver, Ankara, 1987</li>
                <li>47. 1A Benzerlik – Farklılık Kavramı (M.E.B. tavsiyeli), S. Dilâver, Ankara, 1980
                    (ilk baskı) – 1987 (4. baskı)</li>
                <li>48. 1B Benzerlik – Farklılık Kavramı (M.E.B. tavsiyeli), S. Dilâver, Ankara, 1980
                    (ilk baskı) – 1987 (4. baskı)</li>
                <li>49. 1C Ayırt Etme Hızı ve Becerisi, S. Dilâver, Ankara, 1983</li>
                <li>50. 2A Bütün – Parça Kavramı (M.E.B. tavsiyeli), S. Dilâver, Ankara, 1980 (ilk baskı)
                    – 1987 (4. baskı)</li>
                <li>51. 2B Bütün – Parça Kavramı (M.E.B. tavsiyeli), S. Dilâver, Ankara, 1980 (ilk baskı)
                    – 1987 (4. baskı)</li>
                <li>52. 3A Genel Kavramlar (M.E.B. tavsiyeli), S. Dilâver, Ankara, 1980 (ilk baskı)
                    – 1987 (4. baskı)</li>
                <li>53. 3B Genel Kavramlar (M.E.B. tavsiyeli), S. Dilâver, Ankara, 1980 (ilk baskı)
                    – 1987 (4. baskı)</li>
                <li>54. 4B İlişki Kurma (M.E.B. tavsiyeli), S. Dilâver, Ankara, 1980 (ilk baskı) – 1987
                    (4. baskı)</li>
                <li>55. 5A Sayı Kavramı (M.E.B. tavsiyeli), S. Dilâver, Ankara, 1980 (ilk baskı) – 1987
                    (4. baskı)</li>
                <li>56. 5B Sayı Kavramı (M.E.B. tavsiyeli), S. Dilâver, Ankara, 1980 (ilk baskı) – 1987
                    (4. baskı)</li>
                <li>57. 5C Sayı Kavramı (M.E.B. tavsiyeli), S. Dilâver, Ankara, 1980 (ilk baskı) – 1987
                    (4. baskı)</li>
                <li>58. 5D Toplama ve Çıkartma Kavramı (M.E.B. tavsiyeli), S. Dilâver, Ankara, 1980 (ilk
                    baskı) – 1987 (4. baskı)</li>
                <li>59. 6A Sıra Oluşturma ve Olayların Oluş Sırası (M.E.B. tavsiyeli), S. Dilâver, Ankara,
                    1980 (ilk baskı) – 1987 (4. baskı)</li>
                <li>60. 8A Sesleri Ayırt Etme, M. Dilâver - S. Dilâver, Ankara, 1983</li>
                <li>61. 9A Bilmeceler, M. Dilâver - S. Dilâver, Ankara, 1983</li>
                <li>62. 12A İlkokula Hazırlık Testleri, M. Dilâver - S. Dilâver, Ankara, 1983</li>
                <li>63. Okul Olgunluğunu Ölçme Testleri, S. Dilâver - F. Özen, Ankara, 1982</li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div style="clear" />
