@{
    ViewBag.Title = "Hedeflerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul">
    <div class="icerik">
        <div class="navigasyon">
            </div>
        <div class="solicerik">
            <div>
                <h3>
                    KURUMSAL</h3>
                <ul>
                    <li><a href="/Kurumsal/KilometreTaslarimiz">Kilometre Taşlarımız</a></li>
                    <li><a href="/Kurumsal/Eserlerimiz">Eserlerimiz</a></li>
                    <li><a href="/Kurumsal/Hedeflerimiz">Hedeflerimiz</a></li>
                </ul>
            </div>
        </div>
        <div class="sagicerik">
            <h3>
                HEDEFLERİMİZ</h3>
            <p>
                Eğitim ve öğretim alanında ileri ülkelerle yarışabilecek kalite ve standartlara
                ulaşmak hedefimizdir.
            </p>
            <p>
                Okul öncesi eğitim alanında kısa sürede lider ülke olabilmek ilk hedefimizdir. Bu
                hedefe ulaşabilmek için gerekli ve yeterli imkanlara ülke olarak sahibiz. Bu ilk
                hedefimize ulaşmak için gerekli ve yeterli alt yapının önemli bir kısmını tamamlamış
                durumdayız.
            </p>
            <p>
                Zihinsel becerilere sıfır hata düzeyinde işlerlik kazandırabilecek yüzlerce alıştırma
                kitabı arşivlerimizde kullanıma hazırdır.
            </p>
            <p>
                Okul öncesi eğitimde liderlik yarışının kazanılması uygulamaların yaygınlığına ve
                mükemmelliğine bağlıdır. Devletimiz okul öncesi eğitimin yaygınlaştırılması için
                kapsamlı çalışmalar yürütmektedir. Bu çalışmalara destek olmak önemli bir vatandaşlık
                görevidir.
            </p>
            <p>
                Annelerin, babaların, öğretmenlerin ve kurumların aktif katılımları ve destekleriyle
                liderlik yarışını en geç 2015 yılında kazanabiliriz.
            </p>
            <p>
                İnanıyoruz, mutlaka başaracağız.
            </p>
            <br />
            <br />
            <p>
                Saygılarımla.</p>
            <p>
                Sebahattin DİLAVER</p>
            <p>
                30 Ağustos 2011</p>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
