@{
    ViewBag.Title = "Okulda Başarı - Kurumsal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul">
    <div class="icerik">
        <div class="navigasyon">
        </div>
        <div class="solicerik">
            <div>
                <h3>
                    KURUMSAL</h3>
                <ul>
                    <li><a href="/Kurumsal/KilometreTaslarimiz">Kilometre Taşlarımız</a></li>
                    <li><a href="/Kurumsal/Eserlerimiz">Eserlerimiz</a></li>
                    <li><a href="/Kurumsal/Hedeflerimiz">Hedeflerimiz</a></li>
                </ul>
            </div>
        </div>
        <div class="sagicerik">
            <h3>
                BİZ KİMİZ?</h3>
            <p>
                Çocukları çok seven, çocuklarımızın öğrencilik sürecinde karşılaştıkları zorlukları
                gören, yaşadıkları sıkıntıları hisseden, zorlukları aşmak için azimle çalışan, yaratıcı
                düşünen, birbirini tamamlayan bir ekibiz.
            </p>
            <p>
                Eğitim ve öğretim alanında yeni ufuklar açabilecek başarılara imza atabileceğimize
                inanıyoruz.
            </p>
            <p>
                “Okul öncesi eğitim alanında lider ülke neden Türkiye olmasın?” sorusuna olumlu
                cevap verebilmek için çalışıyoruz.
            </p>
            <p>
                Yaptıklarımız, yapacaklarımızın ve yapabileceklerimizin teminatıdır.
            </p>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div style="clear" />
