@{
    ViewBag.Title = "Kilometre Taşlarımız";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="icerikkpsul" style="height:auto;">
    <div class="icerik" >
        <div class="navigasyon">
            </div>
        <div class="solicerik">
            <div>
                <h3>
                    KURUMSAL</h3>
                <ul>
                    <li><a href="/Kurumsal/KilometreTaslarimiz">Kilometre Taşlarımız</a></li>
                    <li><a href="/Kurumsal/Eserlerimiz">Eserlerimiz</a></li>
                    <li><a href="/Kurumsal/Hedeflerimiz">Hedeflerimiz</a></li>
                </ul>
            </div>
        </div>
        <div class="sagicerik">
            <h1>Kilometre Taşlarımız</h1>   
              <div id="wrapper">
        <div>
                <h2>Şubat 1970</h2>
                <h3>Büyük Fen Anahtarı adlı eser hazırlanmaya başlandı.</h3>
                <br />
                <h2>Ocak 1972</h2>
                <h3>Büyük Fen Anahtarı yayımlandı.</h3>
                <br />
                <h2>7 Temmuz 1972</h2>
                <h3>"Ü.G.i."de (Üniversite Giriş İmtahanında) Büyük Fen Anahtarı isabet rekoru kırdı.</h3>
                16 Kimya sorusundan 15 tanesi...<br />
                72 Fen(Matematik-Fizik-Kimya-Biyoloji) sorusundan 57 tanesi...<br />
                Yıllar geçti. Bu rekor kırılamadı.
                <br />
                <img src="/Content/resources/images/KilometreTaslari/Okulda-Basari-Buyuk-Fen-Anahtari.jpg" alt="" />
                <br />
                <br />
                <br />
                <h2>5 Ocak 1975</h2>
                <h3>Çözümlü Genel Yetenek ve Zeka Geliştirme Testleri (Soru Bankası) adlı eser yayımlandı.</h3>
                Türkiyede, alanında yayımlanan ilk kitap oldu.
                <br />
                <img src="/Content/resources/images/KilometreTaslari/Okulda-Basari-Ilk-Soru-Bankasi.jpg" alt="" />
                <br />
                <br />
                <br />
                <h2>29 Ekim 1979</h2>
                <h3>Çözümlü Genel Yetenek Alfabesi adlı eser yayımlandı.</h3>
                Öğrenme sürecinde kullanılan; benzetişim, sınıflandırma, kuralı bulup uygulama, sıra oluşturma,
                tasarım, çıkarsama olarak adlandırılan temel zihinsel becerileri geliştiren alıştırmalara ilk bu
                eserde yer verildi.
                <br />
                <img src="/Content/resources/images/KilometreTaslari/Okulda Basari Zihinsel Beceriler.jpg" alt="" />
                <br />
                <br />
                <br />
                <h2>12 Aralık 1979</h2>
                <h3>Okul öncesi zeka geliştirme testleri adlı 6 adet eser yayımlandı.</h3>
                <br />
                <br />
                <br />
                <h2>10 Şubat 1980</h2>
                <h3>Matematik Yeteneği, Ü.S.S. Yetenek Problemleri(Ayrıntılı Çözümlü) adlı eser yayımlandı.</h3>
                <br />
                <br />
                <br />
                <h2>23 Nisan 1982</h2>
                <h3>Okul ve Okuma Öncesi Zeka Geliştirme Testleri adlı 16 adet eser yayımlandı.</h3>
                Bu eserler Milli Eğitim Bakanlığı Tebliğler Dergisi' nin 2133 Sayılı nüshasında tavsiye edildi.
                <br />
                Şimdiye kadar bu eserlerden daha kapsamlısı yayımlanmadı.
                <br />
                <img src="/Content/resources/images/KilometreTaslari/Okulda-Basari-Ilk-Okul-Oncesi-Kitaplar.jpg" alt="" />
                <br />
                Bu eserlerin tamamı resimlerden oluşturuldu. Resimlerin tamamı elle çizildi.
                <br />
                <img src="/Content/resources/images/KilometreTaslari/Okulda-Basari-Butun-Cizimler-Elle-Yapildi.jpg" alt="" />
                <br />
                <br />
                <br />
                 <h2>1982-2012</h2>
                <h3>Öğrenme becerilerini geliştirme projesi hayata geçirildi.</h3>
                Araştırmalar yapıldı, alıştırma modelleri geliştirildi, 
                alıştırmalar uygulandı, uygulamaların olumlu sonuçları görüldü,
                arşiv oluşturuldu. Bilişsel Becerileri geliştirme amacıyla yüzlerce eser
                hazırlandı.
                <br />
                <img src="/Content/resources/images/KilometreTaslari/Okulda-Basari-Okul-Oncesinden-Universite-Hazirliga.jpg" alt="" />
                <br />
                <br />
                <br />
                 <h2>19 Mayıs 2009</h2>
                <h3>Bilişsel Beceriler adlı eser yayımlandı.</h3>
                Bu eserde, bilişsel beceriler tanımlandı ve örneklendirildi. Esere <a  href="http://www.beyinlergelisecek.com/urunler.php?urid=58">buradan</a> ulaşabilirsiniz.
                <br />
                <br />
                <br />
                <h2>19 Mayıs 2011</h2>
                <h3>Okulda Üstün Başarının Sırları adlı eser yayımlandı.</h3>
                Bu eserde başarının ve başarısızlığın nedenleri irdelendi. Esere <a href="http://www.beyinlergelisecek.com/eserimiz.pdf">buradan</a> ulaşabilirsiniz.
                <br />
                <br />
                Öğrenme ve Düşünme Becerilerini Geliştirme Projesi için hazırlanan arşiv, teknoloji ile yenilendi ve bireye özel alıştırmalara dönüştürüldü.
                <br />
                <img src="/Content/resources/images/KilometreTaslari/Okulda-Basari-Teknoloji-ile-Mukemmelleştirdik.jpg" alt="" />
                <br />
                <br />
                <br />
                <h2>30 Ağustos 2011</h2>
                <h3>HEDEF 2015 Belirlendi. İlk Adım Atıldı.</h3>
                <br />
                <br />
                <br />
        </div>
    </div>
            
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div style="clear" />


