<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="HavuzDizin" value="C:\ZoruSorYeni\"/>
    <add key="Copyright" value="www.cingöz.com - BGDG - Telif Hakları Sebahattin Dilaver'e Aittir. - (0312) 425 16  90 - © 30 Ağustos 2017 - BGDG"/>
  </appSettings>
</configuration>