@{
    ViewBag.Title = "Okulda Başarı - Fiyatlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    img
    {
        border: 0;
        margin-top: .5em;
    }
    table
    {
        width: 100%;
        border-top: 1px solid #e5eff8;
        border-right: 1px solid #e5eff8;
        margin-top: -30px;
        border-collapse: collapse;
    }
    caption
    {
        color: #9ba9b4;
        font-size: .94em;
        letter-spacing: .1em;
        margin: 1em 0 0 0;
        padding: 0;
        caption-side: top;
        text-align: center;
    }
    tr.odd td
    {
        background: #f7fbff;
    }
    tr.odd .column1
    {
        background: #f4f9fe;
    }
    .column1
    {
        background: #f9fcfe;
        text-align: left;
    }
    td
    {
        color: #678197;
        border-bottom: 1px solid #e5eff8;
        border-left: 1px solid #e5eff8;
        padding: .3em .5em;
        text-align: center;
    }
    th
    {
        font-weight: normal;
        color: #678197;
        text-align: left;
        border-bottom: 1px solid #e5eff8;
        border-left: 1px solid #e5eff8;
        padding: .3em 1em;
    }
    thead th
    {
        background: #f4f9fe;
        text-align: center;
        font: bold 1.2em/2em "Century Gothic" , "Trebuchet MS" ,Arial,Helvetica,sans-serif;
        color: #66a3d3;
    }
    tfoot th
    {
        text-align: center;
        background: #f4f9fe;
    }
    tfoot th strong
    {
        font: bold 1.2em "Century Gothic" , "Trebuchet MS" ,Arial,Helvetica,sans-serif;
        margin: .5em .5em .5em 0;
        color: #66a3d3;
    }
</style>
<div class="icerikkpsul">
    <div class="icerik">
        <div class="navigasyon">
        </div>
        <div class="solicerik">
            @*<div>
                <h3>
                    Yaş Grupları</h3>
                <ul>
                    <li id="164"><a href="/Fiyatlar/OtuzAltiAySonrasi">36. Ay ve Sonrası</a></li>
                    <li id="185"><a href="/Fiyatlar/KirkSekizAySonrasi">48. Ay ve Sonrası</a></li>
                    <li id="200"><a href="/Fiyatlar/AltmisAySonrasi">60. Ay ve Sonrası</a></li>
                    <li id="204"><a href="/Fiyatlar/YetmisIkiAySonrasi">72. Ay ve Sonrası</a></li>
                </ul>
            </div>*@
        </div>
        <div class="sagicerik">
             <h3> Tasarım Aşamasındadır.</h3>
            @*<h3>
                Ön Bilgiler</h3>
            <p>
                *Sunulan Hizmetlere ait fiyatlar bir öğrenciye verilen bir aylık hizmet karşılığıdır.
            </p>
            <p>
                *Gerekli görüldüğünde yukarıda belirtilen tüm özelliklerde ve fiyatlarda değişiklik
                yapma hakkımız saklıdır.</p>
            <p>
                *Bu hizmet paketleri aylık olarak hazırlanmaktadır.</p>
            <p>
                *Ölçme, Değerlendirme ve Rehberlik Hizmetleri 15 Ocak 2012 tarihinde verilmeye başlanacaktır.</p>
            <p>
                Hizmet Paketlerimizin detaylarını, soldaki menüden görebilirsiniz.</p>*@
        </div>
        <div class="clear">
        </div>
    </div>
</div>
