@{
    ViewBag.Title = "Fiyatlar - 36. Ay ve Sonrası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="icerikkpsul">
    <div class="icerik">
        <div class="navigasyon">
        </div>
        <div class="solicerik">
            @*<div>
                <h3>
                    Yaş Grupları</h3>
                <ul>
                    <li id="164"><a href="/Fiyatlar/OtuzAltiAySonrasi">36. Ay ve Sonrası</a></li>
                    <li id="185"><a href="/Fiyatlar/KirkSekizAySonrasi">48. Ay ve Sonrası</a></li>
                    <li id="200"><a href="/Fiyatlar/AltmisAySonrasi">60. Ay ve Sonrası</a></li>
                    <li id="204"><a href="/Fiyatlar/YetmisIkiAySonrasi">72. Ay ve Sonrası</a></li>
                </ul>
            </div>*@
        </div>
        <div class="sagicerik">
        <h3> Tasarım Aşamasındadır.</h3>
           @* <table summary="36 Ay ve Sonrası">
                <caption>
                    36. Ay ve Sonrası</caption>
                <thead>
                    <tr class="odd">
                        <td class="column1" style="width:40%">
                        </td>
                        <th scope="col" abbr="Paket1" style="width:15%">
                            Paket1
                        </th>
                        <th scope="col" abbr="Paket2" style="width:15%">
                            Paket2
                        </th>
                        <th scope="col" abbr="Paket3" style="width:15%">
                            Paket3
                        </th>
                        <th scope="col" abbr="Elektronik" style="width:15%">
                            Elektronik
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="odd">
                        <td class="column1">
                            <strong>Birim Fiyatı</strong>
                        </td>
                        <th scope="col">
                            <strong>70 TL</strong>
                        </th>
                        <th scope="col">
                            <strong>44 TL</strong>
                        </th>
                        <th scope="col">
                            <strong>36 TL</strong>
                        </th>
                        <th scope="col">
                            <strong>24 TL</strong>
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <th scope="row" class="column1">
                            Günlük Projeksiyon Etkinlikleri
                        </th>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                            <br />
                            Sadeleştirilmiş
                        </td>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                            <br />
                            Sadeleştirilmiş
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Günlük Bireysel Alıştırmalar
                        </th>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                            <br />
                            Sadeleştirilmiş
                        </td>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                            <br />
                            Sadeleştirilmiş
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="column1">
                            Bireysel Alıştırma Kitabı
                        </th>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                            <br />
                            Sadeleştirilmiş
                        </td>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                            <br />
                            Sadeleştirilmiş
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Alıştırma Oluşturma Şablonları
                        </th>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/cross.png" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/cross.png" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/cross.png" alt="included" width="16" height="16" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="column1">
                            Alıştırma Oluşturma Gereçleri
                        </th>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/cross.png" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/cross.png" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/cross.png" alt="included" width="16" height="16" />
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Ölçme, Değerlendirme ve Rehberlik Hizmetleri
                        </th>
                        <td>
                            <img src="/content/resources/images/icon-check.gif" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/cross.png" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/cross.png" alt="included" width="16" height="16" />
                        </td>
                        <td>
                            <img src="/content/resources/images/cross.png" alt="included" width="16" height="16" />
                        </td>
                    </tr>
                </tbody>
            </table>*@
        </div>
        <div class="clear">
        </div>
    </div>
</div>