@{
    ViewBag.Title = "Okulda Başarı - İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul">
    <div class="icerik">
        <div class="jfontsizekapsul" style="text-align:right">
            <a id="jfontsize-minus" class="jfontsize-button" href="#">A-</a> <a id="jfontsize-default" class="jfontsize-button" href="#">A</a> <a id="jfontsize-plus" href="#" class="jfontsize-button">A+</a>
        </div>
        <div id="wrapper">
            <h1>
                İLETİŞİM</h1>
            <a href="mailto:okuldabasari@gmail.com">okuldabasari@gmail.com</a>
            <br />
            Telefon: 0 312 425 16 90
            <br />
            <div>
                <p>
                    Saygıdeğer Çocuk Dostları;
                </p>
                <p>
                    Çocuk Sevgisi, çiçek sevgisinden çok daha geniş kapsamlıdır.
                </p>
                <p>
                    Çocuk sevgisi, çocukların hayat boyu mutlu olmalarını sağlayacak bilgi ve becerilerle
                    donatılmalarını da kapsar.
                </p>
                <p>
                    Çocuklarımızın hayat boyu karşılaşacakları sorunların üstesinden gelerek mutlu olmalarını
                    sağlamak "hazır reçetelerle" mümkün olamaz.
                </p>
                <p>
                    Başarı ve mutluluk, bilgileri anlayıp işleyerek yaratıcı ve üretgen biçimde kullanabilme
                    becerilerinin geliştirilmesiyle sağlanabilir. Bu becerilerin sıfır hata düzeyinde
                    işlerlik kazanmış hallerine bilişsel beceriler diyoruz.
                </p>
                <p>
                    Bilişsel Becerileri kazandırmak amacıyla hazırladığımız alıştırmalar, hem nicelik
                    hem de nitelik yönünden çok ileri düzeydedir. Bilişsel Becerileri geliştirme alanında
                    ulaştığımız bu ileri düzeyin çok uzun süre aşılamayacağını düşünüyoruz.
                </p>
                <p>
                    <span style="font-weight: bold;">Her türlü eleştiriye ve öneriye açığız. </span>
                    İsteklerinizi, eleştirilerinizi ve önerilerinizi <a href="mailto:okuldabasari@gmail.com">
                        e-posta </a>adresimize gönderebilirsiniz.
                </p>
                <p>
                    Gönderilerin tamamı dikkatle incelenip değerlendirilecektir.
                </p>
                <p>
                    Saygıdeğer Çocuk Dostları;
                </p>
                <p>
                    Sizlerden manevi desteklerinizi (dua ve başarı dileklerinizi) talep ediyoruz.
                </p>
                <p>
                    Dünyamızdaki çocukların tamamına faydalı olabilmenin azim ve özlemi ile çalışmalarımıza
                    aralıksız devam edeceğiz.
                </p>
                <p>
                    Sevgi ve Saygılarımızla.
                </p>
                <br />
                <p>
                    NOT : <a href="http://www.okuldabasari.com">Web adresimizi </a>arkadaşlarınıza ve
                    değer verdiğiniz ilgili kişilere gönderek bizi destekleyebilirsiniz.
                </p>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>

