@{
    ViewBag.Title = "Kurum Yönetim";
    Layout = "~/Views/Shared/_Yonetim.cshtml";
}
<table style="width:150px">
    <tr>
        <td>
            Okul Adet
        </td>
        <td style="width:20px">
            =
        </td>
        <td>@ViewBag.OkulAdet
        </td>
    </tr>
    <tr>
        <td>
            Öğrenci Adet
        </td>
        <td>
            =
        </td>
        <td>@ViewBag.OgrenciAdet
        </td>
    </tr>
</table>
