@{
    ViewBag.Title = "Ziyaretci İstatistikleri";
    Layout = "~/Views/Shared/_Yonetim.cshtml";
}

<h2>Ziyaretci İstatistikleri</h2>
Toplam Kullancı Sayısı : @ViewBag.ToplamZiyaretciSayisi
<br />
Aktif Kullancı Sayısı : @ViewBag.AktifZiyaretciSayisi
