@{
    ViewBag.Title = "Ürünlerimiz - Alıştırma Oluşturma - 60. Ay ve Sonrası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="icerikkpsul" style="height: auto;">
    <div class="icerik">
        <div class="navigasyon">
        </div>
        <div class="solicerik">
            <div>
                <h3>
                    Yaş Grupları</h3>
                <ul>
                    <li><a href="/Urunler/alistirmaolusturma36">36. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/alistirmaolusturma48">48. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/alistirmaolusturma60">60. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/alistirmaolusturma72">72. Ay ve Sonrası</a></li>
                </ul>
            </div>
        </div>
        <div class="sagicerik">
            <table summary="60. Ay ve Sonrası">
                <caption>
                    60. Ay ve Sonrası (Günlük Bireysel Alıştırma Oluşturma Şablonları)</caption>
                <thead>
                    <tr class="odd">
                        <td class="column1" style="width: 40%">
                            Özellikler
                        </td>
                        <th scope="col" abbr="Paket1" style="width: 15%">
                            Paket1
                        </th>
                        <th scope="col" abbr="Paket2" style="width: 15%">
                            Paket2
                        </th>
                        <th scope="col" abbr="Paket3" style="width: 15%">
                            Paket3
                        </th>
                        <th scope="col" abbr="Elektronik" style="width: 15%">
                            Elektronik
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="column1">
                            Sayfa Adedi
                        </th>
                        <td>
                            30
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Kağıt Türü
                        </th>
                        <td>
                            Birinci Hamur
                            <br />
                            80gr.
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="column1">
                            Renk
                        </th>
                        <td>
                            Tümü Renkli
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Kapak Türü
                        </th>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="column1">
                            Cilt Türü
                        </th>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Fotoğraf/Çocuk
                        </th>
                        <td>
                            10(Maks.)
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                </tbody>
            </table>
            <table summary="60. Ay ve Sonrası">
                <caption>
                    60. Ay ve Sonrası (Günlük Bireysel Alıştırma Oluşturma Gereçleri)</caption>
                <thead>
                    <tr class="odd">
                        <td class="column1" style="width: 40%">
                            Özellikler
                        </td>
                        <th scope="col" abbr="Paket1" style="width: 15%">
                            Paket1
                        </th>
                        <th scope="col" abbr="Paket2" style="width: 15%">
                            Paket2
                        </th>
                        <th scope="col" abbr="Paket3" style="width: 15%">
                            Paket3
                        </th>
                        <th scope="col" abbr="Elektronik" style="width: 15%">
                            Elektronik
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="column1">
                            Sayfa Adedi
                        </th>
                        <td>
                            10-15
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Kağıt Türü
                        </th>
                        <td>
                            Birinci Hamur Kağıda<br />
                            Beyaz, 63×63 mm.<br />
                            &nbsp;Sayfa&#39;da 12 Adet Çıkartma
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="column1">
                            Renk
                        </th>
                        <td>
                            Tümü Renkli
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Kapak Türü
                        </th>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="column1">
                            Cilt Türü
                        </th>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Fotoğraf/Çocuk
                        </th>
                        <td>
                            10(Maks.)
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
