@{
    ViewBag.Title = "Ürünlerimiz - Alıştırma Oluşturma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul"  style="height:auto;">
    <div class="icerik">
        <div class="navigasyon">
        </div>
        <div class="solicerik">
            <div>
                <h3>
                    Yaş Grupları</h3>
                <ul>
                    <li><a href="/Urunler/alistirmaolusturma36">36. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/alistirmaolusturma48">48. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/alistirmaolusturma60">60. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/alistirmaolusturma72">72. Ay ve Sonrası</a></li>
                </ul>
            </div>
        </div>
        <div class="sagicerik">
            <div class="Aciklama" style="text-align:justify;">
                <h2>
                    Bireysel Alıştırma Oluşturma Şablonları ve Gereçleri</h2>
                <p>
                    Yaşanarak kazanılan beceriler kalıcı olur. Çocuklarımızın kazandıkları becerileri,
                    bizzat yaparak pekiştirmeleri ve özümlemeleri için alıştırma oluşturma gereçlerini
                    hazırladık. Bu gereçleri kullanarak alıştırmalar hazırlanması, üretici ve yaratıcı
                    düşünme becerisinin kazanılması için atılan en önemli adımlardan biridir.
                </p>
                <h3>Bireysel Alıştırma Oluşturma Etkinliği</h3>
                <p>Bireysel alıştırmaları çocukların oluşturmaları için, bireysel alıştırma oluşturma şablonları ve çıkartma resimler kullanılacaktır.</p>
                <p>Alıştırma oluşturma şablonlarının standart kağıda (A4), çıkarma olarak kullanılacak resimlerin ise çıkartma (TANEX marka A4 boyutunda, 7 cm x 7 cm ebadında, 3 x 4 adet etiket) kağıtlarına çıktıları alınır.</p>
                <p>Çıkartmaların bulunduğu kâğıtlar çocuklara dağıtılır ve resimleri incelemeleri istenir. Bir alıştırma sorusu oluşturmak için gerekli çıkartma resimleri çocuklarla birlikte belirlenir. Bu resimleri çocukların teker teker gösterebilmeleri sağlanır. Bir alıştırmayı oluşturmak için gerekli resimler saydırılır. Alıştırma oluşturmak için seçilen resimler çocuklara incelettirilir. Hangi resimlerin birbirinin aynısı, hangi resimlerin birbirinden farklı olduğunu belirleyip göstermeleri istenir. Çocukların verdikleri cevaplar değerlendirilir. Gerekli açıklamalar yapılır.</p>
                <p>Alıştırma oluşturma şablonları çocuklara dağıtılır. Şablonları incelemeleri istenir. Çıkartmaların yapıştırılacağı yerlere dikkatleri çekilir. Aynısı bulunacak resmin hangisi olduğu ve nereye yapıştırılacağı birlikte belirlenir. Belirlenen çıkartmanın belirlenen yere yapıştırılması istenir. Gerekli görüldüğünde çıkartmanın yapıştırılmasına yardımcı olunur. Doğru cevabın bulunduğu çıkartma ve yapıştırılacağı yer çocuklarla birlikte belirlenir. Belirlenen çıkartmanın belirlenen yere yapıştırılması istenir. Gerekli görüldüğünde yardım edilir. İstenilen yapıştırma işlemini bütün çocukların yapıp yapmadığı kontrol edilir. Çeldiricinin veya çeldiricilerin bulunduğu resimlerin nereye yapıştırılması gerektiği çocuklara sorulur. Bu resmin veya resimlerin nereye yapıştırılması gerektiği çocuklara sorulur. Resim veya resimlerin belirlenen uygun yere veya yerlere yapıştırılması sağlanır. Çocukların alıştırmayı doğru yapıp yapmadıkları kontrol edilir.</p>
                <p>Çocukların alıştırmayı nasıl yaptıklarını anlatmaları istenir. Anlatımlar dikkatle izlenir. Çocuklar yaptıklarını anlatmaya özendirilir. Başarmanın sevinci uygun biçimlerde dile getirilir ve paylaşılır.</p>
                <p>Alıştırma oluşturma etkinlikleri, zihinleri edilgenlikten üretken olabilme aşamasına taşır. Karşılaşılan sorunların çözümlerini başkalarından bekleme alışkanlığını yıkar, çözüm üretme becerisi ve alışkanlığı kazandırır.</p>
                <p>Bu alıştırmaları yapan çocukların davranışlarında gözlemlediğiniz olumlu gelişmeleri bizlerle <b>okuldabasari@gmail.com</b> e-posta adresimizden paylaşırsanız çok mutlu oluruz.</p>
                <br />
                <br />
                <p>
                    NOTLAR:
                </p>
                <p>
                    1- Gerekli görüldüğünde, belirtilen tüm özelliklerde değişiklik yapma hakkımız saklıdır.
                </p>
                <p>
                    2- Çocuklarımıza ait Fotoğraflar, 4,5 cm x 6 cm boyutlarında, arka planı beyaz,
                    en az biri cepheden çekilmiş ve minimum 300 dpi çözünürlükte olması gerekmektedir.
                </p>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
