@{
    ViewBag.Title = "Ürünlerimiz - Bireye Özel Alıştırma Kitabı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul"  style="height:auto;">
    <div class="icerik">
        <div class="navigasyon">
        </div>
        <div class="solicerik">
            <div>
                <h3>
                    Yaş Grupları</h3>
                <ul>
                    <li><a href="/Urunler/bireyselalistirmakitabi36">36. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/bireyselalistirmakitabi48">48. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/bireyselalistirmakitabi60">60. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/bireyselalistirmakitabi72">72. Ay ve Sonrası</a></li>
                </ul>
            </div>
        </div>
        <div class="sagicerik">
            <div class="Aciklama" style="text-align:justify;">
                <h2>
                    Bireysel Alıştırma Kitapları</h2>
                <p>
                    Çocuklarımız, kendilerini ve arkadaşlarını bu kitaplarda bulacaklardır. Böylece
                    kitaplara karşı olumlu duygular geliştireceklerdir. Bu kitaplar çocuklarımızın zihinsel
                    becerilerini sıfır hata düzeyine çıkarmalarını sağlayacaktır. Bu kitaplar, zamanla
                    çocukluk hatıralarının saklandığı çok değerli belge niteliği kazanacaktır.
                </p>
                <p>
                    Zihinsel becerilerin mükemmelleştirilmesi ve kitaplara karşı olumlu duyguların oluşması
                    öğrenmeyi büyük ölçüde kolaylaştırır. Okulda ve hayatta başarılı olmayı sağlar.
                </p>
                <p>
                    Alıştırmaların, anne ve babanın yönlendirmeleriyle yapılması hem ebeveynler ile
                    çocukları arasındaki iletişimin geliştirilmesine katkı sağlar hem de çocukların
                    sevgi ve ilgi gereksinimlerini karşılar. Anaokulunda kazanılan zihinsel becerileri
                    ve öz güveni pekiştirir.
                </p>
                  <p>
                İnsanlığa hizmet eden büyük buluşlara imzasını atan insanların, yaşamları incelendiğinde,
                anne ve babalarına sınırsız sevgi ile bağlanmış oldukları görülür. Bu sevgi bağları 
                başarılarının en güçlü kaynaklarından biridir. Bilişsel Becerileri geliştirme alıştırmalarını
                çocuklarınızla birlikte yaptığınızda, hem aranızdaki sevgi bağlarını mükemmelleştireceksiniz
                hem de çocuğunuzun zihinsel becerilerine sıfır hata düzeyinde işlerlik kazandıracaksınız.
                Böylece çocuklarınıza sürekli üstün başarılar gösterebilmenin kapılarını açacaksınız.
                Çocuklarınızın başarılarına olan katkılarınızın sevinç ve gururunu yaşayacaksınız.
                </p>
                <br />
                <br />  
                <p>
                    NOTLAR:
                </p>
                <p>
                    1- Gerekli görüldüğünde, belirtilen tüm özelliklerde değişiklik yapma hakkımız saklıdır.
                </p>
                <p>
                    2- Çocuklarımıza ait Fotoğraflar, 4,5 cm x 6 cm boyutlarında, arka planı beyaz,
                    en az biri cepheden çekilmiş ve minimum 300 dpi çözünürlükte olması gerekmektedir.
                </p>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
