@{
    ViewBag.Title = "Ürünlerimiz - Günlük Bireysel Alıştırmalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="icerikkpsul"  style="height:auto;">
    <div class="icerik">
        <div class="navigasyon">
        </div>
        <div class="solicerik">
            <div>
                <h3>
                    Yaş Grupları</h3>
                <ul>
                    <li><a href="/Urunler/gunlukbireyselalistirma36">36. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/gunlukbireyselalistirma48">48. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/gunlukbireyselalistirma60">60. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/gunlukbireyselalistirma72">72. Ay ve Sonrası</a></li>
                </ul>
            </div>
        </div>
        <div class="sagicerik">
            <div class="Aciklama" style="text-align:justify;">
                <h2>
                    Günlük Bireysel Alıştırmalar</h2>
                <p>
                    Çocuklarımızın, kendi başlarına bilişsel becerilerini geliştirme alıştırmalarını
                    yapmalarına fırsat verir. Bir etkinliği kendi başına yapmanın mutluluğunun yaşanmasını
                    sağlar. “Kendi kendime yapıp, başarabilirim.” inancının yerleşmesine yardımcı olur.
                    Öz güvenin kazanılmasını sağlar.
                </p>
                <p>Günlük bireysel alıştırmalar, günlük projeksiyon alıştırmaları yapılırken yaşanan mutlulukları çocukların kendi kendilerine yapacakları etkinliklere taşır.</p>
                <p>Günlük bireysel alıştırmalar, günlük projeksiyon alıştırmaları yapılarak kazanılan zihinsel becerilerin işlerlik düzeylerini sıfır hata düzeyine çıkarmaya yardımcı olur. </p>
                <p>Alıştırmaların kağıt ve kalem kullanılarak yapılması göz-sinir sistemi-beyin-kas sistemi arasındaki eş zamanlı işbirliğinin kazanılmasını sağlar.</p>
                <p>Çocukların alıştırmaları yalnız başlarına yapması, kazanılan becerileri geliştirir ve mükemmelleştirir. Zihnin devamlı aktif kalmasını sağlar. Başkalarının uyarılarına ve desteklerine gereksinim duymadan  çalışma alışkanlığı kazandırır. “Kendi kendime başarıyorum” duygusunun yaşanılmasını sağlayarak özgüven duygusunu geliştirir ve pekiştirir. </p>
                <p>Günlük bireysel alıştırmalar yapılarak ulaşılan kazanımlar, öğrenmeyi hızlandırır ve kolaylaştırır.</p>
                <p>Günlük bireysel alıştırmalar yapılarak ulaşılan kazanımlar, tam ve doğru öğrenmeyi gerçekleştirir.</p>
                <h3>Günlük Bireysel Alıştırmaların Yapılışı</h3>
                <p>Alıştırmaların projeksiyon etkinlikleri ile nasıl yapılacağı iyice kavratıldıktan sonra, aynı gün içerisinde veya bir gün sonra günlük bireysel alıştırmaların yapılışına geçilir. Alıştırmaların kâğıt ve kalem kullanılarak oynanan bir oyun olduğu vurgusu yapılır. Çocuklar, alıştırmaları yapmaya özendirilir. Gerekiyorsa alıştırmaların nasıl yapılacağı, projeksiyon etkinliklerinde olduğu gibi, açıklanır. Çocukların açıklamaları tam ve doğru anlayıp anlamadıkları kontrol edilir.</p>
                <p>Günlük bireysel alıştırmalar, çocuklar alıştırmaların nasıl yapılacağını iyice anlayıncaya kadar, öğretmenin direktiflerine uygun olarak birlikte yapılır. Öğretmen, çocuklara doğru cevabı bulmaları için yeterli zaman verir. Her çocuğun her alıştırmayı doğru yapıp yapmadığını kontrol eder. Gerek gördüğü açıklamaları yapar.</p>
                <p>Çocuklar alıştırmaların doğru cevaplarını bulmakta ustalaştıklarında, alıştırmaların doğru cevaplarını bulmak için tanınan süre kısaltılır.</p>
                <p>Çocukların alıştırmaları kendi hızlarıyla yapmalarına fırsat tanınır.</p>
                <br />
                <br />
                <p>
                    NOTLAR:
                </p>
                <p>
                    1- Gerekli görüldüğünde, belirtilen tüm özelliklerde değişiklik yapma hakkımız saklıdır.
                </p>
                <p>
                    2- Çocuklarımıza ait Fotoğraflar, 4,5 cm x 6 cm boyutlarında, arka planı beyaz,
                    en az biri cepheden çekilmiş ve minimum 300 dpi çözünürlükte olması gerekmektedir.
                </p>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
