@{
    ViewBag.Title = "Okulda Başarı - Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul">
    <div class="icerik">
        <div class="navigasyon">
        </div>
        <div class="solicerik">
            <div>
                <h3>
                    ÜRÜNLERİMİZ</h3>
                <ul>
                    <li><a href="/Urunler/projeksiyonetkinlik">Günlük Projeksiyon etkinlikleri</a></li>
                    <li><a href="/Urunler/gunlukbireyselalistirma">Günlük Bireysel Alıştırmalar</a></li>
                    <li><a href="/Urunler/bireyselalistirmakitabi">Bireysel Alıştırma Kitabı</a></li>
                    <li><a href="/Urunler/alistirmaolusturma">Alıştırma Oluşturma Gereçleri</a></li>
                </ul>
            </div>
        </div>
        <div class="sagicerik" >
            <h3>
                BİLİŞSEL BECERİLERİ GELİŞTİRME ALIŞTIRMALARININ ÖZELLİKLERİ</h3>
            <p>
                Bilişsel Becerileri Geliştirme Alıştırmaları, 21 başlık altında tanımladığım zihinsel
                becerilere sıfır hata düzeyinde işlerlik kazandırmak amacıyla hazırlandı. Zihinsel
                becerilerin gelişimini, kalıtımın yanı sıra, çevresel uyaranlar, algılama hızı ve
                kalitesi, beyin-sinir sistemi-kas sistemi işbirliği (psikomotor gelişim), sosyal
                ve duygusal gelişim ve konuşma becerisi (dil gelişimi) yapılandırır. Zihinsel beceriler,
                algılama hızı ve kalitesi, psikomotor gelişim, sosyal ve duygusal gelişim ve dil
                gelişimi arasındaki etkileşim her bir becerinin gelişmesine katkı sağlar. Bu nedenle
                alıştırmalar, psikomotor, sosyal, duygusal, iletişim kurma ve dili etkin olarak
                kullanabilme becerilerinin geliştirilmesine de katkı sağlayacak biçimde düzenlenmiştir.
            </p>
            <p>
                Her bir alıştırma; hem bir becerinin kolay ve hızlı kazanılmasını sağlayacak, hem
                de sonraki alıştırmaların ön hazırlığı olacak biçimde düzenlenmiştir. Bu düzenleme
                aynı becerinin daha zor alıştırmalarını kolayca yapabilme imkanı sağladığı gibi,
                bir üst düzeydeki becerilerin kazanılmasını da kolaylaştırır ve hızlandırır. Bu
                düzenleme, hem rastgele uyaranların hem de gelişigüzel alıştırma yapmanın sebep
                olduğu kafa karışıklıklarına fırsat tanımaz.
            </p>
            <p>
                “Kafa karışıklığı” olarak adlandırılan durumun oluşmasında, gelişigüzel ve gelişim
                evrelerine uygun olmayan alıştırmaların yaptırılmasının olumsuz etkileri vardır.
                Bu nedenle alıştırmaların hazırlanmasına büyük özen gösterilmiştir.
            </p>
            <p>
            NOTLAR: 
            </p>
            <p>
            1- Gerekli görüldüğünde, belirtilen tüm özelliklerde değişiklik yapma hakkımız saklıdır.
            </p>
            <p>
            2- Çocuklarımıza ait Fotoğraflar, 4,5 cm x 6 cm boyutlarında, arka planı beyaz, en az biri cepheden çekilmiş ve minimum 300 dpi çözünürlükte olması gerekmektedir.
            </p>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
