@{
    ViewBag.Title = "Ürünlerimiz - Günlük Projeksiyon Etkinlikleri - 60. Ay ve Sonrası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="icerikkpsul">
    <div class="icerik">
        <div class="navigasyon">
        </div>
        <div class="solicerik">
            <div>
                <h3>
                    Yaş Grupları</h3>
                <ul>
                    <li><a href="/Urunler/projeksiyonetkinlik36">36. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/projeksiyonetkinlik48">48. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/projeksiyonetkinlik60">60. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/projeksiyonetkinlik72">72. Ay ve Sonrası</a></li>
                </ul>
            </div>
        </div>
        <div class="sagicerik">
              <table summary="60. Ay ve Sonrası">
                <caption>
                    60. Ay ve Sonrası</caption>
                <thead>
                    <tr class="odd">
                        <td class="column1" style="width: 40%">
                            Özellikler
                        </td>
                        <th scope="col" abbr="Paket1" style="width: 15%">
                            Paket1
                        </th>
                        <th scope="col" abbr="Paket2" style="width: 15%">
                            Paket2
                        </th>
                        <th scope="col" abbr="Paket3" style="width: 15%">
                            Paket3
                        </th>
                        <th scope="col" abbr="Elektronik" style="width: 15%">
                            Elektronik
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="column1">
                            Sayfa Adedi
                        </th>
                        <td>
                            40
                        </td>
                        <td>
                            20
                        </td>
                        <td>
                            20
                        </td>
                        <td>
                            20
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Kağıt Türü
                        </th>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="column1">
                            Renk
                        </th>
                        <td>
                            Tümü Renkli
                        </td>
                        <td>
                            Tümü Renkli
                        </td>
                        <td>
                            Tümü Renkli
                        </td>
                        <td>
                            Tümü Renkli
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Kapak Türü
                        </th>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="column1">
                            Cilt Türü
                        </th>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr class="odd">
                        <th scope="row" class="column1">
                            Fotoğraf/Çocuk
                        </th>
                        <td>
                            10(Maks.)
                        </td>
                        <td>
                            5(Maks.)
                        </td>
                        <td>
                            1(Maks.)
                        </td>
                        <td>
                            4(Maks.)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
