@{
    ViewBag.Title = "Ürünlerimiz - Günlük Projeksiyon Etkinlikleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="icerikkpsul" style="height:auto;">
    <div class="icerik">
        <div class="navigasyon">
        </div>
        <div class="solicerik">
            <div>
                <h3>
                    Yaş Grupları</h3>
                <ul>
                    <li><a href="/Urunler/projeksiyonetkinlik36">36. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/projeksiyonetkinlik48">48. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/projeksiyonetkinlik60">60. Ay ve Sonrası</a></li>
                    <li><a href="/Urunler/projeksiyonetkinlik72">72. Ay ve Sonrası</a></li>
                </ul>
            </div>
        </div>
        <div class="sagicerik">
            <div class="Aciklama" style="text-align:justify;">
                <h2>
                    Günlük Projeksiyon Etkinlikleri</h2>
                <p>
                    Bilişsel becerileri geliştirme alıştırmaları aynı sınıftaki çocukların fotoğraflarıyla
                    donatılmıştır. Sınıftaki etkinliklere bütün öğrencilerin etkin biçimde katılmalarını
                    sağlar. Dil gelişimlerini hızlandırır. Sosyal ve duygusal gelişimlerini destekler.
                    Öğretmen ile çocuklar arasındaki bağları kuvvetlendirir. Çocukların birbirini tanıyıp,
                    kaynaşmalarına yardımcı olur.
                </p>
             
                <br />
                <p>
                Sanatçılar, eserlerini seslerle, sözcüklerle, çamurla, mermerle, boyalarla oluştururlar.
                Eserlerini oluştururken yaptıkları hataları telafi edebilme imkanları olduğu gibi "sil baştan" 
                deyip yeniden de yapabilirler. 
                </p>
                <p>
                Saygıdeğer Öğretmenlerimiz;
                </p>
             
                <p>
                Sizler, en değerli varlığımız olan minik yavrularımızın zihinlerini yapılandırıyorsunuz.
                Sizler hata yapamazsınız... Ve de yapmıyorsunuz. Bunu bildiğimiz için yavrularımızı size 
                emanet ediyoruz. Üstlendiğiniz görev kutsaldır. Bu kutsal görevde Allah yardımcınız olsun.
                </p>
               <h3>Günlük Projeksiyon Etkinliklerinin Yapılışı</h3>
               <p>Çocuklara “Oyun oynamak ister misiniz?” sorusu sorulur.  “Resimleri inceleme oyunu oynayalım mı?” denir. Çocukların ekranın veya perdenin karşısında oturmaları sağlanır. Her soruyla ilgili görüntüler ekrana veya perdeye gönderilir. En üstteki görüntüye dikkat çekilir. Cetvel veya sunum çubuğuyla çocukların dikkatlerini üstteki resme odaklamaları sağlanır. Resmi görülen varlığın adını bilip bilmedikleri sorulur. Çocukların söyledikleri dikkatle izlenir. Gerekli görülen sorular sorulur ve açıklamalar yapılır. Aynı işlemler alt sıradaki görüntüler için de tekrarlanır. Çocukların ekrandaki görüntülerle ilgili yeterli bilgiye sahip oldukları anlaşıldığında alıştırmalar da istenilen doğru cevabın buldurulmasına geçilir.</p>
               <p>Çocukların teker teker doğru cevabı göstermeleri (bulmaları) istenir. Doğru cevabı bulmaları için gerekli destek verilir ve özendirmeler yapılır. Her bir çocuğun doğru cevabı belirlediği anlaşıldığında; doğru cevapla çeldiriciyi veya çeldiricileri karşılaştırmaları, farklılıklarını ve varsa benzerliklerini söylemeleri sağlanmalıdır.</p>
               <p>Her soru için yukarıdaki işlemler benzer şekilde tekrarlanır. Çocukların sıkılmaya başladıkları hissedildiğinde çalışmalar durdurulur. </p>
               <p>Alıştırmalar yaptırıldıkça; doğru cevabı bulma hızının arttığı alıştırmanın amaçladığı becerinin veya becerilerin sıfır hata düzeyinde kazanıldığı görülür. Becerilerin sıfır hata düzeyinde kazanılmaya başlanması çocukların davranışlarına yavaş yavaş yansımaya başlar. Çocukların davranışlarındaki olumlu gelişmeler kısa sürede fark edilebilir düzeylere çıkar ve süreklilik kazanır.</p>
               <p>Günlük projeksiyon etkinlikleri, kısa süreli ve uzun süreli belleğin hangi ölçülerde geliştiğini izlemek için güvenilir bir gösterge olarak da kullanılabilir. Daha önce doğru cevabı bulunan ve üzerinde konuşulan sorular, bir iki gün, bir iki hafta veya bir iki ay sonra yeniden ekrana taşınabilir. Çocukların görünenleri n adlarını ve özelliklerini söyleyip söyleyememeleri, doğru cevabı belirleyip belirleyememeleri ve doğru cevabı bulmaları için geçen süre; algılama hızları, hatırlama, öğrenme ve dili kullanma becerilerinin gelişmesiyle ilgili ipuçlarını verir. Bu ipuçlarının değerlendirilmesiyle becerilerin geliştirilmesine destek verilebilir. </p>
               <p>Günlük projeksiyon etkinlikleri, birlikte çalışmanın, birlikte başarmanın keyfini yaşatarak çocukların hem akranlarıyla hem de yetişkinlerle işbirliği yapma alışkanlığı kazanmalarına yardımcı olur. </p>
               <p>Günlük projeksiyon etkinlikleri, bilinenleri, duygu ve düşünceleri başkalarına anlatma, başkalarını dinleme ve anlamaya çalışma, konuşma sırasını bekleme gibi olumlu sosyal alışkanlıkların kazanılmasını sağlar.</p>
                <br />  
                <p>
                    NOTLAR:
                </p>
                <p>
                    1- Gerekli görüldüğünde, belirtilen tüm özelliklerde değişiklik yapma hakkımız saklıdır.
                </p>
                <p>
                    2- Çocuklarımıza ait Fotoğraflar, 4,5 cm x 6 cm boyutlarında, arka planı beyaz,
                    en az biri cepheden çekilmiş ve minimum 300 dpi çözünürlükte olması gerekmektedir.
                </p>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
