@{
    ViewBag.Title = "Okulda Başarı - Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-2">
    <div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div class="ribbon">
            </div>
            <div id="slider" class="nivoSlider">
                <img src="/Content/resources/images/header/Okulda Basari Hedef 2015.jpg" alt="" />
                <img src="/Content/resources/images/header/Okulda Basari 40 yil.jpg" alt="" />
                <img src="/Content/resources/images/header/Okulda Basari Okumayi Sevme.jpg" alt="" />
                <img src="/Content/resources/images/header/Okulda Basari Bireysel Alistirma Kitabi.jpg"
                    alt="" />
                <img src="/Content/resources/images/header/Okulda Basari Dunyayi Izliyoruz.jpg" alt="" />
                <img src="/Content/resources/images/header/Okulda Basari Egitm Yaklasim.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
<div class="row-3">
    <div class="box-1 box-box">
        <div class="box-padding">
            <h3>
                GÜNLÜK PROJEKSİYON ETKİNLİKLERİ</h3>
            <p class="p0 z-index">
                Sınıftaki Bilişsel Becerileri Gelşitirme Etkinliklerine bütün öğrencilerin etkin
                biçimde katılmalarını sağlar.
            </p>
        </div>
        <a class="button-2" href="/Urunler/projeksiyonetkinlik">Detay</a>
    </div>
    <div class="box-2 box-box">
        <div class="box-padding">
            <h3>
                GÜNLÜK BİREYSEL ALIŞTIRMALAR</h3>
            <p class="p0 z-index">
                Çocuklarımızın, kendi başlarına bilişsel becerilerini geliştirme alıştırmalarını
                yapmalarına fırsat verir.
            </p>
        </div>
        <a class="button-3" href="/Urunler/gunlukbireyselalistirma">Detay</a>
    </div>
    <div class="box-3 box-box">
        <div class="box-padding">
            <h3>
                BİREYSEL ALIŞTIRMA KİTAPLARI</h3>
            <p class="p0 z-index">
                Çocuklarımız, kendilerini ve arkadaşlarını bu kitaplarda bulacaklardır.
            </p>
        </div>
        <a class="button-4" href="/Urunler/bireyselalistirmakitabi">Detay</a>
    </div>
    <div class="box-4 box-box">
        <div class="box-padding">
            <h3>
                ALIŞTIRMA OLUŞTURMA GEREÇLERİ</h3>
            <p class="p0 z-index">
                Yaşanarak kazanılan beceriler kalıcı olur.
            </p>
        </div>
        <a class="button-5" href="/Urunler/alistirmaolusturma">Detay</a>
    </div>
</div>
<div class="row-4">
    <div class="solkitap">
        <div class="resimKutusu">
            <a href="/Content/resources/pdf/MERTDILAVER.pdf">
                <img src="/Content/resources/images/kitap/36Ay.jpg" width="112" height="158" alt="" />
            </a>
        </div>
        <div class="kitapbaslik">
            36 Ay ve Sonrası İçin Alıştırma Kitabı</div>
        <div class="kitpaciklama">
            36.Ay ve Sonrası için Bireye Özel Alıştırma Kitabına buradan ulaşabilirsiniz. Anaokulunuz
            için sağladığımız hizmetlerin içeriği, benzer şekilde her çocuğumuz için özel olacaktır.</div>
        <div class="kitapdetay">
            <i>Her ay yeni bir kitap !</i> <a href="/Content/resources/pdf/MERTDILAVER.pdf" class="detaylink">
                Detay</a>
        </div>
    </div>
    <div class="sagkitap">
        <div class="resimKutusu">
            <a href="/Content/resources/pdf/SELAHCEMALI.pdf">
                <img src="/Content/resources/images/kitap/48Ay.jpg" width="112" height="158" alt="" />
            </a>
        </div>
        <div class="kitapbaslik">
            48 Ay ve Sonrası İçin Alıştırma Kitabı</div>
        <div class="kitpaciklama">
            48.Ay ve Sonrası için Bireye Özel Alıştırma Kitabına buradan ulaşabilirsiniz. Anaokulunuz
            için sağladığımız hizmetlerin içeriği, benzer şekilde her çocuğumuz için özel olacaktır.</div>
        <div class="kitapdetay">
            <i>Her ay yeni bir kitap !</i> <a href="/Content/resources/pdf/SELAHCEMALI.pdf" class="detaylink">
                Detay</a>
        </div>
    </div>
    <div class="solkitap">
        <div class="resimKutusu">
            <a href="/Content/resources/pdf/OMERYALCINTAS.pdf">
                <img src="/Content/resources/images/kitap/60Ay.jpg" width="112" height="158" alt="" />
            </a>
        </div>
        <div class="kitapbaslik">
            60 Ay ve Sonrası İçin Alıştırma Kitabı</div>
        <div class="kitpaciklama">
            60.Ay ve Sonrası için Bireye Özel Alıştırma Kitabına buradan ulaşabilirsiniz. Anaokulunuz
            için sağladığımız hizmetlerin içeriği, benzer şekilde her çocuğumuz için özel olacaktır.</div>
        <div class="kitapdetay">
            <i>Her ay yeni bir kitap !</i> <a href="/Content/resources/pdf/OMERYALCINTAS.pdf"
                class="detaylink">Detay</a>
        </div>
    </div>
    <div class="sagkitap">
        <div class="resimKutusu">
            <a href="/Content/resources/pdf/HUSEYINOMERBINBOGA.pdf">
                <img src="/Content/resources/images/kitap/72ay.jpg" width="112" height="158" alt="" />
            </a>
        </div>
        <div class="kitapbaslik">
            72 Ay ve Sonrası İçin Alıştırma Kitabı</div>
        <div class="kitpaciklama">
            72.Ay ve Sonrası için Bireye Özel Alıştırma Kitabına buradan ulaşabilirsiniz. Anaokulunuz
            için sağladığımız hizmetlerin içeriği, benzer şekilde her çocuğumuz için özel olacaktır.</div>
        <div class="kitapdetay">
            <i>Her ay yeni bir kitap !</i> <a href="/Content/resources/pdf/HUSEYINOMERBINBOGA.pdf"
                class="detaylink">Detay</a>
        </div>
    </div>
</div>
<div class="row-anim">
    <div class="rakunanimasyon">
        <div id="rakunanimasyon">
            Animasyon Hazırlanıyor...
        </div>
    </div>
    <div class="bbanimasyon">
        <div id="bbanimasyon">
            Animasyon Hazırlanıyor...
        </div>
    </div>
</div>
<script type="text/javascript" src="/content/nivo-slider/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">

    $(window).load(function () {
        $('#slider').nivoSlider({
            effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
            slices: 15, // For slice animations
            boxCols: 8, // For box animations
            boxRows: 4, // For box animations
            animSpeed: 500, // Slide transition speed
            pauseTime: 5500, // How long each slide will show
            startSlide: 0, // Set starting Slide (0 index)
            directionNav: true, // Next & Prev navigation
            directionNavHide: true, // Only show on hover
            controlNav: true, // 1,2,3... navigation
            controlNavThumbs: false, // Use thumbnails for Control Nav
            controlNavThumbsFromRel: false, // Use image rel for thumbs
            controlNavThumbsSearch: '.jpg', // Replace this with...
            controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
            keyboardNav: true, // Use left & right arrows
            pauseOnHover: true, // Stop animation while hovering
            manualAdvance: false, // Force manual transitions
            captionOpacity: 0.8, // Universal caption opacity
            prevText: 'Önceki', // Prev directionNav text
            nextText: 'Sonraki', // Next directionNav text
            beforeChange: function () { }, // Triggers before a slide transition
            afterChange: function () { }, // Triggers after a slide transition
            slideshowEnd: function () { }, // Triggers after all slides have been shown
            lastSlide: function () { }, // Triggers when last slide is shown
            afterLoad: function () { } // Triggers when slider has loaded
        });
    });
</script>
<script type="text/javascript" src="/content/jwplayer/jwplayer.js"></script>
<script type="text/javascript">
    jwplayer("rakunanimasyon").setup(
    {
        flashplayer: "/content/jwplayer/player.swf",
        file: "/Content/resources/animations/rakun.flv",
        height: 300,
        width: 445,
        image: "/Content/resources/animations/rakun.jpg"
    });
    jwplayer("bbanimasyon").setup(
    {
        flashplayer: "/content/jwplayer/player.swf",
        file: "/Content/resources/animations/bilisselbeceriler.flv",
        height: 300,
        width: 445,
        image: "/Content/resources/animations/bilisselbeceriler.jpg"
    }); 
</script>
