@{
    ViewBag.Title = "Okulda Başarı - Bilişsel Beceriler ve Zeka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="icerikkpsul">
    <div class="icerik" style="margin-left: 30px">
        <div class="jfontsizekapsul" style="text-align: right">
            <a id="jfontsize-minus" class="jfontsize-button" href="#">A-</a> <a id="jfontsize-default"
                class="jfontsize-button" href="#">A</a> <a id="jfontsize-plus" href="#" class="jfontsize-button">
                    A+</a>
        </div>
        <div id="wrapper">
            <h3>
                BİLİŞSEL BECERİLER VE ZEKA
            </h3>
            <p>
                Zekâ kavramı, okulda başarılı olabilecekleri olamayacaklardan ayırt edebilecek ölçütleri belirlemek için yapılan çalışmaların ürünüdür. Zekâ katsayısı ile okul başarısı arasında anlamlı korelasyonların olması çalışmaların amacına ulaştığının göstergesi olarak algılanabilir. Ancak okul başarısı yeterli olmayanların değişik alanlardaki üstün başarıları dikkate alındığında zekâ kat sayısının güvenilir bir ölçüt olmayacağı görülür. Bu gerçek görüldüğü için zihinsel ürünler değişik başlıklar altında sınıflandırılmış ve bu sınıflandırmalara uygun zekâ türleri tanımlanmıştır. Bir alanda başarılı ürünler ortaya koyanlara söz konusu alanla ilgili zekâ türünün olduğu varsayılmıştır. Bu varsayıma dayalı olarak, öğrenciler de sözel zekâya sahip olanlar, sayısal zekâya sahip olanlar gibi sınıflara ayrılmıştır. Öğretim etkinliklerinin bu zekâ türleri dikkate alınarak planlanıp uygulanmasının başarıyı artıracağı savunulmuştur. Ülkemizde de çoklu zekâ kuramını temel alan programlar hazırlanmış ve uygulamaya konulmuştur. Ancak öğretim kalitesinin artırılmasına katkı sağlamadığı görülmüştür.*</p>
            <p>
                Zihinsel ürünleri sınıflandırmak, bu sınıflandırmaya dayanarak zekâ çeşitlerini tanımlamak ve görüntüleme teknolojilerinin sağladığı imkânlarla zihinsel çıktıların beynin hangi bölgelerinde üretildiğini belirlemek çok önemli aşamalardır. Çalışmaların daha ileri aşamalara ulaştırılmasının öğrenme sürecine önemli katkılar sağlayacağı ümit edilmektedir.</p>
            <p>
                Zekâ kavramının anlaşılabilmesi için sadece zihinsel çıktılara veya bu çıktıların beynin hangi bölgelerinde oluşturulduğunda odaklanmak yeterli olmaz. Çıktıların oluşturulmasını sağlayan zihinsel becerileri belirleyip tanımlamak ve bu becerileri geliştirip mükemmelleştirmek, öğrenmeyi kolaylaştıracak ve hızlandıracaktır. Zihinsel becerilerin sıfır hata düzeyinde işlerliğe kavuşturulması ise kendi kendine öğrenebilme becerisinin kazanılıp geliştirilmesini sağlayacaktır. Kendi kendine öğrenme becerisinin geliştirilmesi de akademik başarıların yükseltilmesine önemli katkılar verecektir.</p>
            <p>
                Sözel ve sayısal olarak adlandırılan alanlarla ilgili birer zihinsel ürünün oluşturulması süreçlerini inceleyerek düşüncelerimize açıklık kazandıralım.</p>
            <p>
                “Kompozisyon yazarken ve aritmetik problemi çözerken kullanılan zihinsel beceriler birbirinden farklı mıdır, yoksa birbirinin benzeri midir?” sorusunun cevabını araştıralım.</p>
            <p>
                Kompozisyonun ve problem çözümünün kağıt üzerindeki görünümleri birbirinden çok farklıdır. Kompozisyon harfler ve noktalama işaretleri, problem çözümü ise rakamlar ve işlem işaretleri kullanılarak kağıda dökülmüştür. Kullanılan semboller farklı olduğu gibi, sembollerin kağıda yerleştiriliş ve sıralanış biçimleri, birbiriyle olan ilişkileri de birbirine hiç benzemez. Gözlenen bu farklılıklar, bu iki ürünün oluşturulması sırasında beynin farklı zihinsel becerileri kullandığı sanısını oluşturur. Yüzeysel düşünmenin ve görünüşe aldanarak karar vermenin doğasında bu tür yanılsamalar vardır. Tek değişkene odaklanarak tek yönlü düşünenler bu tür yanılgılara çok sık düşerler. Bilim insanlarının da bu tür yanılsamaların tuzağına düştüğü görülür.</p>
            <p>
                Kompozisyon yazmaya başladığımızda; bilgilerimizi, deneyimlerimizi, duygularımızı ve düşüncelerimizi parça parça veya bütün olarak zihnimizde canlandırırız. Bütünleri parçalara ayırırız, parçalardan bütün oluştururuz. Kompozisyon yazımıyla ilgili öğrendiklerimizi bilincimize çağırırız. Zihnimizde canlandırdıklarımızı anlamlı söz birimlerine dönüştürürüz. Sözcüklerin anlamlarını karşılaştırır en uygun olanını seçeriz. Seçtiğimiz sözcükleri; anlam bilimi, dil bilgisi ve yazım kurallarını uygulayarak sıraya dizeriz. Sıraya dizme işlemini doğru yapıp yapmadığımızı kontrol ederiz. Yazdığımız cümleleri anlam ilişkilerine göre yapılandırırız. Yazdığımız cümlelerin anlamlarını karşılaştırarak uyumlu olup olmadıklarını kontrol ederiz. Anlatmak istediklerimizin kolay anlaşılması ve başkalarının hoşuna gitmesi için, benzerliklerden, farklılıklardan, zıtlıklardan ve söz sanatlarından yararlanırız.</p>
            <p>
                Aritmetik problemini çözmeye başlamak için; problemi okuyup zihnimizde canlandırırız. Problem çözümüyle ilgili öğrendiklerimizi ve deneyimlerimizi bilincimize çağırırız. Zihnimizde canlandırdığımız problemi daha basit parçalara ayırırız. Ayırdığımız her parçayı birleştirerek problemi yeniden oluştururuz. Böylece problemi basite indirgeme işlemini doğru yapıp yapmadığımızı kontrol ederiz. Daha önce çözdüğümüz problemlerle çözmeye çalıştığımız problemi karşılaştırıp benzerliklerini ve farklılıklarını belirleriz. Daha önce çözdüğümüz problemlerle çözmeye çalıştığımız problem arasında analoji kurarız. Hangi işlemleri hangi sırada yapacağımızı belirleriz. İşlemleri daha önce öğrendiğimiz kurallara uygun olarak yaparız. Yaptığımız işlemlerin doğru yapılıp yapılmadığını kontrol ederiz.</p>
            <p>
                Kompozisyon yazmayı problem çözmeyle karşılaştıran açıklamalarda karşı çıkılabilecek bir tek nokta bile yoktur. Bu nedenle açıklamalar, kompozisyon yazarken ve problem çözerken aynı zihinsel becerilerin kullanıldığını çok açık olarak gözler önüne serer. Kompozisyon yazımında ve problem çözümünde aynı zihinsel beceriler fakat farklı alan bilgileri kullanılarak farklı malzemeler işlenir. Farklı alan bilgileri kullanılarak farklı malzemelerin işlenmesi farklı ürünler ortaya çıkarır. Ürünlerin farklılıklarına odaklanarak zekâ kavramını çeşitlendirip alt başlıklara ayırarak sınıflandırmak, zekâ kavramını anlamak için yapılan bir hamledir. Bu nedenle de saygıyla karşılanmalıdır. Ancak zekâ kavramını tam ve doğru anlatmadığı da açıkça ortaya konmalıdır. Tam ve doğru olmayan sınıflandırmalara dayanılarak oluşturulan kuramları temel alan öğretim modelleri işe yaramaz. Eğitim tarihi özellikle de ülkemiz bu modellerin işe yaramadığını gösteren uygulamalar bakımından oldukça zengindir.</p>
            <p>
                Aynı alan bilgilerinin ve aynı malzemelerin farklı tekniklerin işlenmesiyle de farklı ürünler ortaya çıkabilir. Roman, şiir, hikâye, senaryo ve benzeri yazın ürünleri aynı alan bilgileri ve aynı malzemeler farklı teknikler kullanılarak üretilir.</p>
                <p>Yukarıdaki açıklamalardan sonra aşağıdaki soruların cevaplarını araştırmak önemli sonuçlara ulaşmamızı sağlayabilir. </p>
                <p>SORU 1: Hem sözel hem de sayısal alanda başarılı olanları her iki alanda da başarısız olanlardan ayıran nitelikler var mıdır? Varsa bu nitelikler nelerdir?</p>
                <p>SORU 2: Sayısal alanda başarılı olan bireylerden bazıları niçin sözel alanda başarılı olamıyorlar?</p>
                <p>SORU 3: Sözel alanda başarılı olan bireylerden bazıları niçin sayısal alanda başarılı olamıyorlar?</p>
                <p>Yukarıdaki soruların cevaplarını araştırırken on başlık altında topladığımız bilişsel becerilerin işlerlik düzeylerini ölçebilen şekil testlerinden faydalandık.</p>
                <p>Her iki alanda da başarısız olanlar, on başlık altında toplanan testlerde özellikle de zorluk dereceleri yüksek olanlarda anlamlı bir başarı gösteremediler. Bunlar arasında istekli olanlara Bilişsel Becerileri Geliştirme Alıştırmaları yaptırıldı ve okul başarılarının yükseldiği görüldü.</p>
                <p>Her iki alanda da başarılı olanlar, aynısını bul, farklısını bu, dönüşüm, kuralı uygulama, ayrıştırma, birleştirme ve sınıflandırma başlıklarını taşıyan testlerde aynı üstün başarıyı gösterdiler. Ancak kavram oluşturma, analoji kurma ve tasarım başlıklarını taşıyan testlerdeki başarı düzeyleri arasında büyük farklılıklar gözlendi. Bu üç başlık altındaki testlerde üstün başarı gösterenlerle düşük başarı gösterenleri karşılaştırmak için, kompozisyon yazma, birbirlerine yakın kavramları anlama ve anlatma, analoji yaparak sorun çözme, hayali bir sorunla başa çıkma stratejileri geliştirme ve uzay geometri sorularını çözebilme gibi alanlardaki etkinlikler değerlendirildi. Bu etkinliklerdeki başarı düzeyleri ile üç başlık altındaki testlerde alınan puanlar arasında anlamlı paralellikler görüldü.</p>
                <p>Sözel ve sayısal alanlardan birinde başarılı olup diğerinde başarısız olanları karşılaştırmak için aynı zorluk derecesinde akıl yürütmeyi ve işlem yapmayı gerektiren ancak sadece sözel ifadelerle ve sadece matematik sembolleriyle oluşturulan test bataryaları oluşturuldu ve bu öğrencilere uygulandı. Sözel alanda başarılı olduğunu düşünenler sadece sözel başlığı altında toplanan soruları, sayısal alanda başarılı olduğunu düşünenler de sadece sayısal başlığı altında toplanan soruları çözdüler. Soruların çözümlerine geçildiğinde ise başarılı olduklarına inandıkları alanla ilgili soruların çözümlerini büyük bir dikkatle izlediler. Başarılı olamayacaklarını sandıkları alanla ilgili soruların çözümlerini sadece izliyor göründüler fakat izlemediler. Gözlenen bu durum; ilgi eksikliğinin, deneyimlerin oluşturduğu yılgınlıkların ve sorunların oluşturduğu öz güven eksikliğinin öğrenme isteğini engellediğini açıkça göstermektedir. Bu engel aşılmadan öğrenme gerçekleştirilemez. Bu engeli aşmak için şekillerle oluşturulmuş Bilişsel Becerileri Geliştirme Alıştırmalarını kullanabiliriz.</p>
                <p>Bilişsel Becerileri Geliştirme Alıştırmaları, şekillerle oluşturulduğundan olumsuz çağrışımların oluşmasına zemin hazırlamaz. Bu nedenle bu alıştırmalar yapılırken olumsuz çağrışımların sebep olduğu gerilimler yaşanmaz.</p>
                <p>Bilişsel Becerileri Geliştirme Alıştırmaları, kolaydan zora doğru tolere edilebilecek zorluk derecelerinde yapılandırıldığı için alıştırmalar yapılırken sürekli olarak “başarıyorum” duygusu yaşanır.</p>
                <p>Bilişsel Becerileri Geliştirme Alıştırmaları, öğrenme sırasında kullanılan zihinsel becerilerin tamamını kapsadığından her dersin her konusunu tam ve doğru öğrenebilme yetisi kazandırır.</p>
                <p>Bilişsel Becerileri Geliştirme Alıştırmaları, zihinsel becerilere sıfır hata düzeyinde işlerlik kazandırarak doğru akıl yürütme becerisi, üretken ve yaratıcı düşünme yeterliliği kazanılmasına yardımcı olur.</p>
                <p>Bilişsel Becerileri Geliştirme Alıştırmaları, zihinsel becerilerin çok hızlı çalıştırılmasına yardımcı olduğundan hızlı anlama ve öğrenme yeterliliğinin kazanılmasına yardımcı olur.</p>
                <p>Bilişsel Becerileri Geliştirme Alıştırmaları, anlık belleği çalışma alanı olarak kullanabilme yeterliliği kazandırır. Böylece algılananların zihinde depolanıp hatırlanmasına önemli katkılarda bulunur.</p>
            <br />
            <br />
            <p>
                Saygılarımla
                <br />
                Sebahattin Dilaver</p>
            <br />
            <p style="font-weight: bold;">
                <a href="http://www.pisa.oecd.org/pages/0,2987,en_32252351_32235731_1_1_1_1_1,00.html">
                    *www.pisa.oecd.org </a>
                    </p>
        </div>
    </div>
</div>
