@{    
    ViewBag.Title = "Okulda Başarı - Bilişsel Becerileri Geliştirme Alıştırmalarının Faydaları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul">
    <div class="icerik" style="margin-left: 30px">
        <div class="jfontsizekapsul" style="text-align: right">
            <a id="jfontsize-minus" class="jfontsize-button" href="#">A-</a> <a id="jfontsize-default"
                class="jfontsize-button" href="#">A</a> <a id="jfontsize-plus" href="#" class="jfontsize-button">
                    A+</a>
        </div>
        <div id="wrapper">
            <h3>
                BİLİŞSEL BECERİLERİ GELİŞTİRME ALIŞTIRMALARININ FAYDALARI
            </h3>
            <ul style="margin: 0; padding-left: 20px; padding-top: 3px; list-style-type: square;">
                <li>Algılama hızını yükseltir.</li>
                <li>Tam, doğru ve ayrıntılı algılama becerisi kazandırır ve geliştirir.</li>
                <li>Belleğe tam ve doğru kayıt yapabilme becerisini geliştirir.</li>
                <li>Belleğe yapılan kayıtları uzun süre saklayabilme becerisi kazandırır.</li>
                <li>Hızlı, tam ve doğru hatırlama becerisi geliştirir.</li>
                <li>Anlık algıları bellekteki kayıtlarla karşılaştırıp, aynılıkları, farklılıkları ve
                    benzerlikleri fark etme, anlama ve anlatma becerilerini mükemmelleştirir.</li>
                <li>Anlık algıları birbiriyle ve bellekteki kayıtlarla karşılaştırıp parçalara ayırma,
                    parçalar arasındaki ilişkileri anlama ve anlatabilme becerileri kazandırır ve geliştirir.</li>
                <li>Anlık algıları birbiriyle ve bellekteki kayıtlarla karşılaştırıp parçadan bütün
                    oluşturma, parçalar arasındaki ilişkileri anlama ve anlatabilme becerileri kazandırır
                    ve geliştirir. </li>
                <li>Anlık algıları birbirleriyle ve bellekteki kayıtlarla karşılaştırıp sınıflandırma
                    yapma, yapılan sınıflandırmaları anlama ve anlatma becerileri kazandırır ve geliştirir.</li>
                <li>Anlık algıları ve bellekteki kayıtları üst üste çakıştırıp, bu çakıştırmaların sonuçlarını
                    zihinde canlandırma, bu canlandırmaları anlatabilme becerisi kazandırır ve geliştirir.</li>
                <li>Anlık algıları birbirleriyle ve bellekteki kayıtlarla karşılaştırıp, kavramlar oluşturma,
                    kavramları anlama ve anlatabilme becerisi kazandırır ve geliştirir.</li>
                <li>Anlık algıları birbirleriyle ve bellekteki kayıtlarla karşılaştırıp benzetişimler
                    oluşturma, benzetişimleri anlama ve anlatma becerisi kazandırır ve geliştirir.</li>
                <li>Anlık algıları ve bellekteki kayıtları çok yönlü karşılaştırmak, kurallar oluşturma,
                    kuralları anlama ve anlatma becerisi kazandırır ve geliştirir.</li>
                <li>Bir bütünü oluşturan parçalar arasındaki ilişkileri anlayabilme ve bu ilişkilerin
                    kombinasyonlarını sıralayabilme becerisi kazandırır ve geliştirir.</li>
                <li>Bir süreçteki oluşumlar arasındaki sebep-sonuç ilişkisini anlama ve anlatma becerisi
                    kazandırır ve geliştirir.</li>
                <li>Bir bütün oluşturan elemanların sıralanışını ve etkileşim biçimlerini zihinde canlandırıp
                    uygulanabilir duruma getirme becerisi kazandırır ve geliştirir.</li>
                <li>Doğru akıl yürütme, üretken ve yaratıcı düşünce becerilerinin geliştirilip mükemmelleştirilmesini
                    sağlar.</li>
                <li>Kendi kendine öğrenme becerisi için gerekli zemini oluşturur.</li>
                <li>Öğrenmeyi kolaylaştırır. Okulda sürekli olarak üstün başarılara imza atabilme kapasitesi
                    kazandırır.</li>
            </ul>
        </div>
    </div>
</div>
