@{
    ViewBag.Title = "Okulda Başarı - Dünden Bugüne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul">
    <div class="icerik" style="margin-left: 30px">
<div class="jfontsizekapsul" style="text-align: right">
            <a id="jfontsize-minus" class="jfontsize-button" href="#">A-</a> <a id="jfontsize-default"
                class="jfontsize-button" href="#">A</a> <a id="jfontsize-plus" href="#" class="jfontsize-button">
                    A+</a>
        </div>
        <div id="wrapper">
        <h3 style="font-family:Times New Roman;">
            ÖNSÖZ
        </h3>
        <p style="font-family:Times New Roman;">
            Çocuklarımızın sağlıklı doğup, sağlıklı büyümeleri için bütün olanaklarımızı sonuna
            kadar kullanırız. Çocuklarımız için yapamayacağımız fedakârlık, katlanamayacağımız
            sıkıntı, aşamayacağımız engel, göğüsleyemeyeceğimiz zorluk yoktur. Ancak okul öncesinde
            çocuklarımızın zihinsel gelişimlerine yeterli ölçüde yardımcı olamayız. Çocuğumuzun
            en hızlı zihinsel gelişim evrelerinde onu ihmal ederiz. Sordukları sorulardan zaman
            zaman sıkılırız. Çocuklarımızın başarılarından duyacağımız hazzı tatmak için katlanamayacağımız
            fedakârlık yoktur. Yoktur ama okula gidinceye kadar onların zihinsel gelişmeleriyle
            yakından ilgilenemeyiz. Hem ilgilensek de yapabileceğimiz ne var ki? Başvurabileceğimiz
            hangi kaynaklar var? Kaç Kurum var? Kaç yayın var? Bu çaresizliği yaşayan bir baba,
            eğitimci bir yazar olarak uzun uzun düşündüm. Üç yıllık yoğun bir çalışma, deneyim
            ve uygulama sonucunda yavrunuzun elindeki altı kitabı oluşturdum. Bu sahada ilk
            adımı atarken, elimden gelenin en iyisini yapmaya çalıştım. Bu ilk adımı daha güzel,
            daha iyi, daha yararlı adımlarla sürdürmek azmindeyim.</p>
        <p style="font-family:Times New Roman;">
            Yavrularımızın beğenileri, sizlerin uyarıları, yeni adımlar atmak için yazara en
            büyük destek ve güç kaynağı olacaktır.</p>
        <p style="font-family:Times New Roman;">
            Tüm okul öncesi çocuklara yararlı olmasını diler, tüm annelere, babalara ve eğitimcilere
            saygılarımı sunarım.</p>
        <br />
        <p style="font-family:Times New Roman;">
            27/12/1979
            <br />
            Sebahattin Dilaver
        </p>
        <br />    
        <p>
            Bugün, yıllar önce söylediklerime aynen katılıyorum. 1976 yılında başladığım çalışmalar
            sonucunda oluşturduğum alıştırma arşivini ayrım yapmaksızın gücümün yettiği ölçüde
            bütün çocukların hizmetine sunmanın gururunu yaşıyorum.</p>
        <p>
            Tüm çocuklara faydalı olmasını temenni ederek saygılarımı sunuyorum.</p>
        <p>
            30 Ağustos 2011
            <br />
            Sebahattin Dilaver
        </p>
    </div>
    </div>
</div>
