@{
    ViewBag.Title = "Okulda Başarı - Kompozisyon Yazmak ve Zihinsel Beceriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul" style="height: auto;">
    <div class="icerik" style="margin-left: 30px; text-align: justify;">
        <div class="jfontsizekapsul" style="text-align: right">
            <a id="jfontsize-minus" class="jfontsize-button" href="#">A-</a> <a id="jfontsize-default"
                class="jfontsize-button" href="#">A</a> <a id="jfontsize-plus" href="#" class="jfontsize-button">
                    A+</a>
        </div>
        <div id="wrapper">
            <h3>
                KOMPOZİSYON YAZMAK VE ZİHİNSEL BECERİLER
            </h3>
            <p>
                Yazılı anlatım (kompozisyon), zihinsel becerilerin katkılarıyla sözcükler kullanılarak
                oluşturulan bir üründür. Yazılı anlatım ürünlerinin çeşitliliği, zihinsel becerilerin
                zenginliğinin yansımasıdır. Yazılı anlatım sırasında kullanılan zihinsel becerilerin
                sayısı ve çeşitleri öğrenme sırasında kullanılanlardan çoktur. Bu nedenle de yazılı
                anlatımların incelenmesi, yazılı anlatımı üreten bireylerin zihinsel becerilerinin
                işlerlik düzeyleri hakkında zeka testlerinden daha çok bulgulara ulaşılmasını sağlar.</p>
            <p>
                Kompozisyon yazmayı; duyguları, düşünceleri, deneyimleri, algıları ve bilgileri
                başkalarının anlayabileceği sadelikte sözcüklere dönüştürüp, yazım ve noktalama
                kurallarına uygun olarak anlatabilme beceresi olarak tanımlayabiliriz.</p>
            <p>
                Kompozisyon yazmaya başlamadan; konu, içerik, ana düşünce, yardımcı düşünceler belirlenir.
                Düşüncelerin birbirleriyle ve ana düşünceyle bağlantıları zihinde canlandırılır.
                Hangi anlatım biçiminin, anlatılmak istenilenin anlaşılmasını kolaylaştırabileceği
                belirlenir.</p>
            <p>
                Kompozisyon yazılırken; anlık bellek, kısa süreli bellek ve uzun süreli bellek iş
                birliği içerisinde çalışır. Bu işbirliği gerçekleştirilmeden iyi bir kompozisyon
                yazılamaz.</p>
            <p>
                Kompozisyon yazılırken; duyguları, düşünceleri, deneyimleri, algıları ve kavramları
                belirtecek aynı anlamlı veya benzer anlamlı sözcükler hatırlanır, anlamları karşılaştırılır,
                amaca en uygun olanı seçilir. Bu seçme işleminin de doğru yapılıp yapılmadığı, anlatılmak
                istenenlerle seçilen sözcüklerin anlamları karşılaştırılarak test edilir. Böylece
                yanlış anlaşılmaların önüne geçilir. Cümleler kurulurken sözcüklerin anlam bağlamında
                birbiriyle uyum içerisinde olmalarına, dil bilgisi ve söz dizimi kurallarına uygun
                olarak sıralanmalarına özen gösterilir. Cümlelerin, anlatılanların kolay, hızlı,
                tam ve doğru anlaşılmasını sağlayacak örüntüler içerisinde düzenlenmesi iyi bir
                kompozisyon yazmanın vazgeçilmez kuralıdır.</p>
            <p>
                İyi bir kompozisyon yazabilmek için anlama becerisinin yeterince gelişmiş olması
                gerekir. Anlatılanları anlamak için ise kompozisyon yazma becerisinin gelişmiş olması
                gerekli değildir. Çok kolay ve hızlı anlayabilen bireyler arasında iyi kompozisyon
                yazamayanlara çok sık rastlanır. Ancak belirli bir konuda iyi bir kompozisyon yazmayı
                becerebilenler arasında, aynı konuyla ilgili anlatılanları anlamakta zorluk çekenlere
                rastlanılmaz. Anlamak, anlatabilmenin ön koşuludur, anlatabilmek ise anlamanın ön
                koşulu değildir. Bu durum göz önünde tutulduğunda iyi kompozisyon yazanların öğrenme
                sorunu yaşamayacakları, yazamayanların ise öğrenme sorunu yaşayıp yaşamadıklarının
                belirlenmesinin zor olduğu düşünülebilir. Ancak kompozisyon derinlemesine incelendiğinde
                hangi bilişsel becerilerin yeterli işlerlik düzeyinde olmadığı belirlenebilir.</p>
            <p>
                Cümleleri dilbilgisi kurallarına uygun olarak oluşturamayanların, kuralları anlamada
                ve uygulamada zorlandıklarını anlayabiliriz. Bu sorun, kuralı bulma ve uygulama
                alıştırmaları yapılarak kolayca aşılır.</p>
            <p>
                Sözcükleri ve noktalama işaretlerini yanlış kullananların, kavramları anlamada zorluk
                çektiklerini görebiliriz. Bu zorluk da kavram oluşturma alıştırmaları yapılarak
                aşılır.</p>
            <p>
                Yanlış örneklendirmeler ve benzetişimler yapanların, analoji yapma becerilerinin
                yeterli işlerlik düzeyinde olmadığını düşünebiliriz. Bu düşüncemizin doğru olup
                olmadığını kavram oluşturma testleriyle kontrol edebiliriz. Bu zorluk da analoji
                yapma becerisini geliştirme alıştırmalarıyla aşılır.</p>
            <p>
                Öğrenme sürecinde çok sık olarak kullanılan becerilerin işlerlik düzeyleri, kompozisyonlar
                incelenerek kolayca belirlenebilir. Belirlenen eksiklikler, Bilişsel Becerileri
                Geliştirme Alıştırmaları yapılarak giderilebilir.</p>
            <br />
            <br />
            <p>
                Saygılarımla
                <br />
                Sebahattin Dilaver</p>
            <br />
        </div>
    </div>
</div>
