@{
    ViewBag.Title = "Okulda Başarı - Konuşmayı Becerebilenler Matematik Problemlerini de Çözerler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul" style="height: auto;">
    <div class="icerik" style="margin-left: 30px; text-align: justify;">
        <div class="jfontsizekapsul" style="text-align: right">
            <a id="jfontsize-minus" class="jfontsize-button" href="#">A-</a> <a id="jfontsize-default"
                class="jfontsize-button" href="#">A</a> <a id="jfontsize-plus" href="#" class="jfontsize-button">
                    A+</a>
        </div>
        <div id="wrapper">
            <h3>
                KONUŞMAYI BECEREBİLENLER MATEMATİK PROBLEMLERİNİ DE ÇÖZERLER
            </h3>
            <p>
                "Konuşmayı becerebilen her birey, matematik problemlerini de çözer." varsayımını,
                konuşma eylemini ve problem çözme işlemini basitçe tanımlayarak irdeleyelim.
            </p>
            <p>
                Konuşmak; kavramlar arasındaki ilişkileri doğru akıl yürüterek belirleyip söz dizimi
                kurallarına uygun seslerle ifade etmektir.
            </p>
            <p>
                Problem Çözmek; matematiksel kavramlar arasındaki ilişkileri doğru akıl yürüterek
                belirleyip matematik kurallarına uygun işlemlerle ifade etmektir.</p>
            <p>
                Yukarıdaki tanımları incelediğimizde; konuşmanın konusu olan kavramların, matematikteki
                kavramlardan daha geniş kapsama sahip olduğunu ve bu kavramları da içerdiğini görürüz.
                Konuşmada kullanılan kavramları öğrenmek matematikteki kavramları öğrenmekten daha
                uzun zaman alır ve zor gerçekleşir. Çocuklar konuşmayı baskı altında olmaksızın
                öğrenirler.
            </p>
            <p>
                Konuşurken, kavramlar arasındaki ilişkileri belirlemek için yapılan akıl yürütmelerin
                matematiksel kavramlar arasındaki ilişkileri belirlemek için yapılan akıl yürütmelerden
                daha zor olduğunu düşünemeyiz ve söyleyemeyiz. Düşünsek ve söylesek bile kanıtlayamayız.
                Düşündüklerimizi ve söylediklerimizi doğrulamak için verebildiğimiz her örnek, bir
                başka örnekle kolayca çürütülebilir.</p>
            <p>
                Konuşurken, kavramlar arasındaki ilişkileri belirlemek için yapılan akıl yürütmelerin,
                çok hızlı gerçekleştiğinin farkındayız. Bu hız farkı matematiksel kavramlar arasındaki
                ilişkileri belirlemenin daha kolay olduğunu gösterir.
            </p>
            <p>
                Söz dizimi kuralları ile matematik işlemlerinin kuralları karşılaştırıldığında söz
                dizimi kurallarının daha çok olduğu ve işlem kurallarına göre daha karmaşık olduğu
                görülür.
            </p>
            <p>
                Yukarıdaki irdelemeler, matematik problemlerini çözmenin konuşmaktan daha kolay
                olduğunu gösterir. Ancak yaygın olan anlayış bunun tam tersidir. Yaygın inanış "Herkeste
                Matematik Kafası Yoktur" sözcükleriyle ifade edilmektedir. Bu sözlere karşı; "Herkes
                Matematik Öğrenebilir" diyorum.</p>
            <p>
                Matematik derslerinde zayıf olan öğrenciler incelendiğinde; kavram oluşturma ve
                kavramları anlama, ilişki kurma ve ilişkileri anlama, kuralları anlama ve kuralları
                uygulama, sınıflandırma yapma ve sınıflandırmaları anlama, benzetişim yapma ve benzetişimleri
                anlama becerilerinin yeterli işlerlik düzeyinde olmadığı görülür. Sayılan bu beceriler
                yeterli işlerlik düzeyine çıkarıldığında, matematik derslerinde istenilen başarı
                düzeyine ulaşılabilir. Bu yöntemle yüzlerce öğrencinin karşılatışları zorluklar
                aşılmıştır. Tanımlar üzerinden yapılan incelemelerde ulaşılan sonuç, uygulamalarla
                da doğrulandığından "Herkeste Matematik Kafası Yoktur" anlayışı çöp sepetine atılmalıdır.
            </p>
            <p>
                HERKES MATEMATİK ÖĞRENEBİLİR.</p>
            <p>
                Sadece on başlık altında toplanan bilişsel becerileri geliştirme alıştırmalarını
                (toplam 60 saat) yapan herkes her çeşit matematik problemini çözmeyi öğrenebilir.</p>
            <p>
                İsteyen her birey matematik problemlerinin çözümlerini ezberlemek yerine, her çeşit
                problemi çözmeyi öğrenebilir.</p>
            <p>
                İsteyen her birey, her dersin her konusunu öğrenebilir varsayımının doğru olduğunu
                test etmek isteyen her kurumla iş birliği yapabiliriz.*</p>
            <br />
            <br />
            <p>
                Saygılarımla
                <br />
                Sebahattin Dilaver</p>
            <br />
            <br />
            <br />
            <p>
                *Alıştırmalara ulaşabilmek için telif haklarına saygılı kalınacağını belirten yazılı
                güvence verilmesi gereklidir.</p>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
