@{
    ViewBag.Title = "Okulda Başarı - Saygıdeğer öğretmenlerimiz;";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul">
    <div class="icerik" style="margin-left: 30px">
        <div class="jfontsizekapsul" style="text-align: right">
            <a id="jfontsize-minus" class="jfontsize-button" href="#">A-</a> <a id="jfontsize-default"
                class="jfontsize-button" href="#">A</a> <a id="jfontsize-plus" href="#" class="jfontsize-button">
                    A+</a>
        </div>
        <div id="wrapper">
            <h3>
                Saygıdeğer öğretmenlerimiz;
            </h3>
            <p>
                Sizlerin sevgi dolu yaklaşımları ve başarılı uygulamalarıyla çocuklarımızın daha
                kolay ve hızlı öğrenebilmelerini sağlayacak zihinsel becerileri kazanabileceklerine
                inanıyoruz. Çocuklarımızın gelecekteki başarılarının temellerini sizler oluşturmaktasınız.
                Yüklendiğiniz görev kutsal olduğu kadar da sizlere büyük sorumluluklar yüklemektedir.
                Bu görevinizde size yardımcı olmaktan gurur duyacağız. Alıştırmalar çocukların gelişim
                evreleri ve gereksinimleri dikkate alınarak hazırlanmıştır. Uygulama sırasında kazandığınız
                deneyimleri bizlerle paylaşırsanız çok mutlu oluruz.</p>
            <p>
                Saygıdeğer öğretmenlerimiz, sizlerin çocuklarımızla kurduğunuz sıcak ilişkiler,
                onların sizleri benimseyip taklit etmeye başlamalarını sağlayacaktır. Bu taklit
                isteğini de iyi kullanarak etkinlikleri haz duyulan süreçlere dönüştüreceğinize
                inanıyoruz. Alıştırmaları oyun havası ve anlayışı içerisinde yaptırmanız, öğrenme
                süreçlerinde gösterecekleri başarıların temelini oluşturacaktır.</p>
            <p>
                Sizlerin uygulamalardaki başarılarıyla ülkemizi ileri ülkeler seviyesine ulaştırabileceğimize
                inanıyoruz. 2015 yılında okul öncesi eğitim alanında lider ülke olabiliriz. Bu idealin
                gerçekleştirilmesi için gerekli uygulamaları en iyi şekilde yapacağınıza inanıyoruz.</p>
            <p>
                Saygılarımla</p>
            <p>
                Sebahattin Dilaver
                <br />
                30 Ağustos 2011
            </p>
        </div>
    </div>
</div>
