@{
    ViewBag.Title = "Okulda Başarı - Sayın Anneler,Sayın Babalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul">
    <div class="icerik" style="margin-left: 30px">
        <div class="jfontsizekapsul" style="text-align: right">
            <a id="jfontsize-minus" class="jfontsize-button" href="#">A-</a> <a id="jfontsize-default"
                class="jfontsize-button" href="#">A</a> <a id="jfontsize-plus" href="#" class="jfontsize-button">
                    A+</a>
        </div>
        <div id="wrapper">
            <h3>
                Sayın Anneler,
                <br />
                Sayın Babalar,
            </h3>
            <p>
                Çocuklarınızın; bilişsel, sosyal, duygusal ve iletişim(konuşma, dinleme, anlama,
                anlatma) becerilerinin geliştirilmesinde sizlerle olan etkileşimleri başat rol oynar.
                Çocuğunuzla kurduğunuz sevgi dolu ilişkiler çocuğunuzun beynini etkinleştirir. Etkinleşen
                beyin tüm becerilerin daha kolay ve hızlı kazanılmasını sağlar. Yetersiz ilişkiler
                ve yasaklayıcı yaklaşımlar ise beyni edilgen kılar. Edilgen beyin ise becerileri
                daha zor ve yavaş kazanır.</p>
            <p>
                Çocuklar; aynada kendilerini görmekten, fotoğraflara bakmaktan hoşlanırlar. İçsel
                istek ve coşkuyla yapılan taklitler, çocuklara beceri kazandırmak amacıyla kullanılabilecek
                en uygun motivasyon ve yönlendirme aracıdır. Bu araç iyi kullanıldığında, biyolojik
                donanımı tam ve sağlam olan çocuklarda becerileri geliştirme sürecinde önemli zorluklarla
                karşılaşılmaz.</p>
            <p>
                Bireysel Alıştırma Kitabınızı elinize alıp, hep beraber inceleyiniz. Kitapta çocuğunuzun
                fotoğrafını gördüğünüzde neler hissettiğinizi birbirinize anlatınız.</p>
            <p>
                Çocuğunuzdan, kitabı eline aldığında neler hissettiğini anlatmasını isteyiniz. Anlattıklarının
                sebeplerini sorunuz.
            </p>
            <p>
                Alıştırmaların nasıl yapıldığını anlamaya çalıştığınızı söyleyiniz. Çocuğunuza alıştırmaları
                yapmanız için size yardım edip edemeyeceğini sorunuz. Birkaç alıştırmayı yapmaya
                çalıştığınızı hissetmesini sağlayınız. Çocuğunuz, alıştırmaların nasıl yapılacağını
                anlatırken dikkatle dinleyin. Onu takdir ettiğinizi belirtin. “Bakalım bunu yapabilecek
                miyim?” diyerek merak uyandırmaya çalışın. Çocuk alıştırmaları yapmak istediğinde
                teşvik edin. Sıkıldığı anda bırakmasına izin verin. Kesinlikle alıştırmaları yapması
                için zorlamayın. Alıştırmaları yaptıkça, bilişsel, sosyal, duygusal ve iletişim
                becerilerinin geliştiğini görecek, çocuğunuzun başarılarıyla gurur duyacaksınız.</p>
            <p>
                Sebahattin Dilaver
                <br />
                30 Ağustos 2011
            </p>
        </div>
    </div>
</div>
